openapi: 3.1.0
info:
  title: E2B API
  version: 0.1.0
  description: Complete E2B developer API. Platform endpoints are served on api.e2b.app.
    Sandbox endpoints (envd) are served on {port}-{sandboxID}.e2b.app.
servers:
- url: https://api.e2b.app
  description: E2B Platform API
- &id001
  url: https://{port}-{sandboxID}.e2b.app
  description: Sandbox API (envd) — runs inside each sandbox
  variables:
    port:
      default: '49983'
      description: Port number
    sandboxID:
      default: sandbox-id
      description: Sandbox identifier
paths:
  /health:
    get:
      description: Health check
      responses:
        '200':
          description: Request was successful
        '401':
          $ref: '#/components/responses/401'
    servers:
    - *id001
  /metrics:
    get:
      summary: Get the stats of the service
      security:
      - AccessTokenAuth: []
      - {}
      responses:
        '200':
          description: The resource usage metrics of the service
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Metrics'
    servers:
    - *id001
  /init:
    post:
      summary: Set initial vars, ensure the time and metadata is synced with the host
      security:
      - AccessTokenAuth: []
      - {}
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                volumeMounts:
                  type: array
                  items:
                    $ref: '#/components/schemas/VolumeMount'
                hyperloopIP:
                  type: string
                  description: IP address of the hyperloop server to connect to
                envVars:
                  $ref: '#/components/schemas/EnvVars'
                accessToken:
                  type: string
                  description: Access token for secure access to envd service
                  x-go-type: SecureToken
                timestamp:
                  type: string
                  format: date-time
                  description: The current timestamp in RFC3339 format
                defaultUser:
                  type: string
                  description: The default user to use for operations
                defaultWorkdir:
                  type: string
                  description: The default working directory to use for operations
      responses:
        '204':
          description: Env vars set, the time and metadata is synced with the host
    servers:
    - *id001
  /envs:
    get:
      summary: Get the environment variables
      security:
      - AccessTokenAuth: []
      - {}
      responses:
        '200':
          description: Environment variables
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvVars'
    servers:
    - *id001
  /files:
    get:
      summary: Download a file
      tags:
      - files
      security:
      - AccessTokenAuth: []
      - {}
      parameters:
      - $ref: '#/components/parameters/FilePath'
      - $ref: '#/components/parameters/User'
      - $ref: '#/components/parameters/Signature'
      - $ref: '#/components/parameters/SignatureExpiration'
      responses:
        '200':
          $ref: '#/components/responses/DownloadSuccess'
        '401':
          $ref: '#/components/responses/InvalidUser'
        '400':
          $ref: '#/components/responses/InvalidPath'
        '404':
          $ref: '#/components/responses/FileNotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    post:
      summary: Upload a file and ensure the parent directories exist. If the file
        exists, it will be overwritten.
      tags:
      - files
      security:
      - AccessTokenAuth: []
      - {}
      parameters:
      - $ref: '#/components/parameters/FilePath'
      - $ref: '#/components/parameters/User'
      - $ref: '#/components/parameters/Signature'
      - $ref: '#/components/parameters/SignatureExpiration'
      requestBody:
        $ref: '#/components/requestBodies/File'
      responses:
        '200':
          $ref: '#/components/responses/UploadSuccess'
        '400':
          $ref: '#/components/responses/InvalidPath'
        '401':
          $ref: '#/components/responses/InvalidUser'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '507':
          $ref: '#/components/responses/NotEnoughDiskSpace'
    servers:
    - *id001
  /filesystem.Filesystem/CreateWatcher:
    post:
      tags:
      - filesystem.Filesystem
      summary: CreateWatcher
      description: Non-streaming versions of WatchDir
      operationId: filesystem.Filesystem.CreateWatcher
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/filesystem.CreateWatcherRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/filesystem.CreateWatcherResponse'
    servers:
    - *id001
  /filesystem.Filesystem/GetWatcherEvents:
    post:
      tags:
      - filesystem.Filesystem
      summary: GetWatcherEvents
      operationId: filesystem.Filesystem.GetWatcherEvents
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/filesystem.GetWatcherEventsRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/filesystem.GetWatcherEventsResponse'
    servers:
    - *id001
  /filesystem.Filesystem/ListDir:
    post:
      tags:
      - filesystem.Filesystem
      summary: ListDir
      operationId: filesystem.Filesystem.ListDir
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/filesystem.ListDirRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/filesystem.ListDirResponse'
    servers:
    - *id001
  /filesystem.Filesystem/MakeDir:
    post:
      tags:
      - filesystem.Filesystem
      summary: MakeDir
      operationId: filesystem.Filesystem.MakeDir
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/filesystem.MakeDirRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/filesystem.MakeDirResponse'
    servers:
    - *id001
  /filesystem.Filesystem/Move:
    post:
      tags:
      - filesystem.Filesystem
      summary: Move
      operationId: filesystem.Filesystem.Move
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/filesystem.MoveRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/filesystem.MoveResponse'
    servers:
    - *id001
  /filesystem.Filesystem/Remove:
    post:
      tags:
      - filesystem.Filesystem
      summary: Remove
      operationId: filesystem.Filesystem.Remove
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/filesystem.RemoveRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/filesystem.RemoveResponse'
    servers:
    - *id001
  /filesystem.Filesystem/RemoveWatcher:
    post:
      tags:
      - filesystem.Filesystem
      summary: RemoveWatcher
      operationId: filesystem.Filesystem.RemoveWatcher
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/filesystem.RemoveWatcherRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/filesystem.RemoveWatcherResponse'
    servers:
    - *id001
  /filesystem.Filesystem/Stat:
    post:
      tags:
      - filesystem.Filesystem
      summary: Stat
      operationId: filesystem.Filesystem.Stat
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/filesystem.StatRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/filesystem.StatResponse'
    servers:
    - *id001
  /filesystem.Filesystem/WatchDir:
    post:
      tags:
      - filesystem.Filesystem
      summary: WatchDir
      description: Server-streaming RPC. Use the Connect protocol with streaming support.
      operationId: filesystem.Filesystem.WatchDir
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/filesystem.WatchDirRequest'
        required: true
      responses:
        '200':
          description: Stream of WatchDirResponse events
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/filesystem.WatchDirResponse'
    servers:
    - *id001
  /process.Process/CloseStdin:
    post:
      tags:
      - process.Process
      summary: CloseStdin
      description: "Close stdin to signal EOF to the process.\n Only works for non-PTY\
        \ processes. For PTY, send Ctrl+D (0x04) instead."
      operationId: process.Process.CloseStdin
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/process.CloseStdinRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/process.CloseStdinResponse'
    servers:
    - *id001
  /process.Process/Connect:
    post:
      tags:
      - process.Process
      summary: Connect
      description: Server-streaming RPC. Use the Connect protocol with streaming support.
      operationId: process.Process.Connect
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/process.ConnectRequest'
        required: true
      responses:
        '200':
          description: Stream of ConnectResponse events
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/process.ConnectResponse'
    servers:
    - *id001
  /process.Process/List:
    post:
      tags:
      - process.Process
      summary: List
      operationId: process.Process.List
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/process.ListRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/process.ListResponse'
    servers:
    - *id001
  /process.Process/SendInput:
    post:
      tags:
      - process.Process
      summary: SendInput
      operationId: process.Process.SendInput
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/process.SendInputRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/process.SendInputResponse'
    servers:
    - *id001
  /process.Process/SendSignal:
    post:
      tags:
      - process.Process
      summary: SendSignal
      operationId: process.Process.SendSignal
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/process.SendSignalRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/process.SendSignalResponse'
    servers:
    - *id001
  /process.Process/Start:
    post:
      tags:
      - process.Process
      summary: Start
      description: Server-streaming RPC. Use the Connect protocol with streaming support.
      operationId: process.Process.Start
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/process.StartRequest'
        required: true
      responses:
        '200':
          description: Stream of StartResponse events
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/process.StartResponse'
    servers:
    - *id001
  /process.Process/StreamInput:
    post:
      tags:
      - process.Process
      summary: StreamInput
      description: Client-streaming RPC. Client input stream ensures ordering of messages.
        Use the Connect protocol with streaming support.
      operationId: process.Process.StreamInput
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/process.StreamInputRequest'
        required: true
      responses:
        '200':
          description: Stream of StreamInputResponse events
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/process.StreamInputResponse'
    servers:
    - *id001
  /process.Process/Update:
    post:
      tags:
      - process.Process
      summary: Update
      operationId: process.Process.Update
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/process.UpdateRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/process.UpdateResponse'
    servers:
    - *id001
  /teams:
    get:
      description: List all teams
      tags:
      - auth
      security:
      - AccessTokenAuth: []
      responses:
        '200':
          description: Successfully returned all teams
          content:
            application/json:
              schema:
                type: array
                items:
                  allOf:
                  - $ref: '#/components/schemas/Team'
        '401':
          $ref: '#/components/responses/401'
        '500':
          $ref: '#/components/responses/500'
  /teams/{teamID}/metrics:
    get:
      description: Get metrics for the team
      tags:
      - auth
      security:
      - ApiKeyAuth: []
      parameters:
      - $ref: '#/components/parameters/teamID'
      - in: query
        name: start
        schema:
          type: integer
          format: int64
          minimum: 0
        description: Unix timestamp for the start of the interval, in seconds, for
          which the metrics
      - in: query
        name: end
        schema:
          type: integer
          format: int64
          minimum: 0
          description: Unix timestamp for the end of the interval, in seconds, for
            which the metrics
      responses:
        '200':
          description: Successfully returned the team metrics
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TeamMetric'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '500':
          $ref: '#/components/responses/500'
  /teams/{teamID}/metrics/max:
    get:
      description: Get the maximum metrics for the team in the given interval
      tags:
      - auth
      security:
      - ApiKeyAuth: []
      parameters:
      - $ref: '#/components/parameters/teamID'
      - in: query
        name: start
        schema:
          type: integer
          format: int64
          minimum: 0
        description: Unix timestamp for the start of the interval, in seconds, for
          which the metrics
      - in: query
        name: end
        schema:
          type: integer
          format: int64
          minimum: 0
          description: Unix timestamp for the end of the interval, in seconds, for
            which the metrics
      - in: query
        name: metric
        required: true
        schema:
          type: string
          enum:
          - concurrent_sandboxes
          - sandbox_start_rate
        description: Metric to retrieve the maximum value for
      responses:
        '200':
          description: Successfully returned the team metrics
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MaxTeamMetric'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '500':
          $ref: '#/components/responses/500'
  /sandboxes:
    get:
      description: List all running sandboxes
      tags:
      - sandboxes
      security:
      - ApiKeyAuth: []
      parameters:
      - name: metadata
        in: query
        description: Metadata query used to filter the sandboxes (e.g. "user=abc&app=prod").
          Each key and values must be URL encoded.
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Successfully returned all running sandboxes
          content:
            application/json:
              schema:
                type: array
                items:
                  allOf:
                  - $ref: '#/components/schemas/ListedSandbox'
        '401':
          $ref: '#/components/responses/401'
        '400':
          $ref: '#/components/responses/400'
        '500':
          $ref: '#/components/responses/500'
    post:
      description: Create a sandbox from the template
      tags:
      - sandboxes
      security:
      - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewSandbox'
      responses:
        '201':
          description: The sandbox was created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Sandbox'
        '401':
          $ref: '#/components/responses/401'
        '400':
          $ref: '#/components/responses/400'
        '500':
          $ref: '#/components/responses/500'
  /v2/sandboxes:
    get:
      description: List all sandboxes
      tags:
      - sandboxes
      security:
      - ApiKeyAuth: []
      parameters:
      - name: metadata
        in: query
        description: Metadata query used to filter the sandboxes (e.g. "user=abc&app=prod").
          Each key and values must be URL encoded.
        required: false
        schema:
          type: string
      - name: state
        in: query
        description: Filter sandboxes by one or more states
        required: false
        schema:
          type: array
          items:
            $ref: '#/components/schemas/SandboxState'
        style: form
        explode: false
      - $ref: '#/components/parameters/paginationNextToken'
      - $ref: '#/components/parameters/paginationLimit'
      responses:
        '200':
          description: Successfully returned all running sandboxes
          content:
            application/json:
              schema:
                type: array
                items:
                  allOf:
                  - $ref: '#/components/schemas/ListedSandbox'
        '401':
          $ref: '#/components/responses/401'
        '400':
          $ref: '#/components/responses/400'
        '500':
          $ref: '#/components/responses/500'
  /sandboxes/metrics:
    get:
      description: List metrics for given sandboxes
      tags:
      - sandboxes
      security:
      - ApiKeyAuth: []
      parameters:
      - name: sandbox_ids
        in: query
        required: true
        description: Comma-separated list of sandbox IDs to get metrics for
        explode: false
        schema:
          type: array
          items:
            type: string
          maxItems: 100
          uniqueItems: true
      responses:
        '200':
          description: Successfully returned all running sandboxes with metrics
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SandboxesWithMetrics'
        '401':
          $ref: '#/components/responses/401'
        '400':
          $ref: '#/components/responses/400'
        '500':
          $ref: '#/components/responses/500'
  /sandboxes/{sandboxID}/logs:
    get:
      description: Get sandbox logs. Use /v2/sandboxes/{sandboxID}/logs instead.
      deprecated: true
      tags:
      - sandboxes
      security:
      - ApiKeyAuth: []
      parameters:
      - $ref: '#/components/parameters/sandboxID'
      - in: query
        name: start
        schema:
          type: integer
          format: int64
          minimum: 0
        description: Starting timestamp of the logs that should be returned in milliseconds
      - in: query
        name: limit
        schema:
          default: 1000
          format: int32
          minimum: 0
          type: integer
        description: Maximum number of logs that should be returned
      responses:
        '200':
          description: Successfully returned the sandbox logs
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SandboxLogs'
        '404':
          $ref: '#/components/responses/404'
        '401':
          $ref: '#/components/responses/401'
        '500':
          $ref: '#/components/responses/500'
  /v2/sandboxes/{sandboxID}/logs:
    get:
      description: Get sandbox logs
      tags:
      - sandboxes
      security:
      - ApiKeyAuth: []
      parameters:
      - $ref: '#/components/parameters/sandboxID'
      - in: query
        name: cursor
        schema:
          type: integer
          format: int64
          minimum: 0
        description: Starting timestamp of the logs that should be returned in milliseconds
      - in: query
        name: limit
        schema:
          default: 1000
          type: integer
          format: int32
          minimum: 0
          maximum: 1000
        description: Maximum number of logs that should be returned
      - in: query
        name: direction
        schema:
          $ref: '#/components/schemas/LogsDirection'
        description: Direction of the logs that should be returned
      responses:
        '200':
          description: Successfully returned the sandbox logs
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SandboxLogsV2Response'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
  /sandboxes/{sandboxID}:
    get:
      description: Get a sandbox by id
      tags:
      - sandboxes
      security:
      - ApiKeyAuth: []
      parameters:
      - $ref: '#/components/parameters/sandboxID'
      responses:
        '200':
          description: Successfully returned the sandbox
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SandboxDetail'
        '404':
          $ref: '#/components/responses/404'
        '401':
          $ref: '#/components/responses/401'
        '500':
          $ref: '#/components/responses/500'
    delete:
      description: Kill a sandbox
      tags:
      - sandboxes
      security:
      - ApiKeyAuth: []
      parameters:
      - $ref: '#/components/parameters/sandboxID'
      responses:
        '204':
          description: The sandbox was killed successfully
        '404':
          $ref: '#/components/responses/404'
        '401':
          $ref: '#/components/responses/401'
        '500':
          $ref: '#/components/responses/500'
  /sandboxes/{sandboxID}/metrics:
    get:
      description: Get sandbox metrics
      tags:
      - sandboxes
      security:
      - ApiKeyAuth: []
      parameters:
      - $ref: '#/components/parameters/sandboxID'
      - in: query
        name: start
        schema:
          type: integer
          format: int64
          minimum: 0
        description: Unix timestamp for the start of the interval, in seconds, for
          which the metrics
      - in: query
        name: end
        schema:
          type: integer
          format: int64
          minimum: 0
          description: Unix timestamp for the end of the interval, in seconds, for
            which the metrics
      responses:
        '200':
          description: Successfully returned the sandbox metrics
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SandboxMetric'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
  /sandboxes/{sandboxID}/pause:
    post:
      description: Pause the sandbox
      tags:
      - sandboxes
      security:
      - ApiKeyAuth: []
      parameters:
      - $ref: '#/components/parameters/sandboxID'
      responses:
        '204':
          description: The sandbox was paused successfully and can be resumed
        '409':
          $ref: '#/components/responses/409'
        '404':
          $ref: '#/components/responses/404'
        '401':
          $ref: '#/components/responses/401'
        '500':
          $ref: '#/components/responses/500'
  /sandboxes/{sandboxID}/resume:
    post:
      deprecated: true
      description: Resume the sandbox
      tags:
      - sandboxes
      security:
      - ApiKeyAuth: []
      parameters:
      - $ref: '#/components/parameters/sandboxID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResumedSandbox'
      responses:
        '201':
          description: The sandbox was resumed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Sandbox'
        '409':
          $ref: '#/components/responses/409'
        '404':
          $ref: '#/components/responses/404'
        '401':
          $ref: '#/components/responses/401'
        '500':
          $ref: '#/components/responses/500'
  /sandboxes/{sandboxID}/connect:
    post:
      description: Returns sandbox details. If the sandbox is paused, it will be resumed.
        TTL is only extended.
      tags:
      - sandboxes
      security:
      - ApiKeyAuth: []
      parameters:
      - $ref: '#/components/parameters/sandboxID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConnectSandbox'
      responses:
        '200':
          description: The sandbox was already running
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Sandbox'
        '201':
          description: The sandbox was resumed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Sandbox'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
  /sandboxes/{sandboxID}/timeout:
    post:
      description: Set the timeout for the sandbox. The sandbox will expire x seconds
        from the time of the request. Calling this method multiple times overwrites
        the TTL, each time using the current timestamp as the starting point to measure
        the timeout duration.
      security:
      - ApiKeyAuth: []
      tags:
      - sandboxes
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - timeout
              properties:
                timeout:
                  description: Timeout in seconds from the current time after which
                    the sandbox should expire
                  type: integer
                  format: int32
                  minimum: 0
      parameters:
      - $ref: '#/components/parameters/sandboxID'
      responses:
        '204':
          description: Successfully set the sandbox timeout
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
  /sandboxes/{sandboxID}/refreshes:
    post:
      description: Refresh the sandbox extending its time to live
      security:
      - ApiKeyAuth: []
      tags:
      - sandboxes
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                duration:
                  description: Duration for which the sandbox should be kept alive
                    in seconds
                  type: integer
                  maximum: 3600
                  minimum: 0
      parameters:
      - $ref: '#/components/parameters/sandboxID'
      responses:
        '204':
          description: Successfully refreshed the sandbox
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
  /v3/templates:
    post:
      description: Create a new template
      tags:
      - templates
      security:
      - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TemplateBuildRequestV3'
      responses:
        '202':
          description: The build was requested successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateRequestResponseV3'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '500':
          $ref: '#/components/responses/500'
  /v2/templates:
    post:
      description: Create a new template
      deprecated: true
      tags:
      - templates
      security:
      - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TemplateBuildRequestV2'
      responses:
        '202':
          description: The build was requested successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateLegacy'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '500':
          $ref: '#/components/responses/500'
  /templates/{templateID}/files/{hash}:
    get:
      description: Get an upload link for a tar file containing build layer files
      tags:
      - templates
      security:
      - AccessTokenAuth: []
      - ApiKeyAuth: []
      parameters:
      - $ref: '#/components/parameters/templateID'
      - in: path
        name: hash
        required: true
        schema:
          type: string
          description: Hash of the files
      responses:
        '201':
          description: The upload link where to upload the tar file
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateBuildFileUpload'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
  /templates:
    get:
      description: List all templates
      tags:
      - templates
      security:
      - ApiKeyAuth: []
      - AccessTokenAuth: []
      parameters:
      - in: query
        required: false
        name: teamID
        schema:
          type: string
          description: Identifier of the team
      responses:
        '200':
          description: Successfully returned all templates
          content:
            application/json:
              schema:
                type: array
                items:
                  allOf:
                  - $ref: '#/components/schemas/Template'
        '401':
          $ref: '#/components/responses/401'
        '500':
          $ref: '#/components/responses/500'
    post:
      description: Create a new template
      deprecated: true
      tags:
      - templates
      security:
      - AccessTokenAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TemplateBuildRequest'
      responses:
        '202':
          description: The build was accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateLegacy'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '500':
          $ref: '#/components/responses/500'
  /templates/{templateID}:
    get:
      description: List all builds for a template
      tags:
      - templates
      security:
      - ApiKeyAuth: []
      parameters:
      - $ref: '#/components/parameters/templateID'
      - $ref: '#/components/parameters/paginationNextToken'
      - $ref: '#/components/parameters/paginationLimit'
      responses:
        '200':
          description: Successfully returned the template with its builds
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateWithBuilds'
        '401':
          $ref: '#/components/responses/401'
        '500':
          $ref: '#/components/responses/500'
    post:
      description: Rebuild an template
      deprecated: true
      tags:
      - templates
      security:
      - AccessTokenAuth: []
      parameters:
      - $ref: '#/components/parameters/templateID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TemplateBuildRequest'
      responses:
        '202':
          description: The build was accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateLegacy'
        '401':
          $ref: '#/components/responses/401'
        '500':
          $ref: '#/components/responses/500'
    delete:
      description: Delete a template
      tags:
      - templates
      security:
      - ApiKeyAuth: []
      - AccessTokenAuth: []
      parameters:
      - $ref: '#/components/parameters/templateID'
      responses:
        '204':
          description: The template was deleted successfully
        '401':
          $ref: '#/components/responses/401'
        '500':
          $ref: '#/components/responses/500'
    patch:
      description: Update template
      deprecated: true
      tags:
      - templates
      security:
      - ApiKeyAuth: []
      - AccessTokenAuth: []
      parameters:
      - $ref: '#/components/parameters/templateID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TemplateUpdateRequest'
      responses:
        '200':
          description: The template was updated successfully
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '500':
          $ref: '#/components/responses/500'
  /templates/{templateID}/builds/{buildID}:
    post:
      description: Start the build
      deprecated: true
      tags:
      - templates
      security:
      - AccessTokenAuth: []
      parameters:
      - $ref: '#/components/parameters/templateID'
      - $ref: '#/components/parameters/buildID'
      responses:
        '202':
          description: The build has started
        '401':
          $ref: '#/components/responses/401'
        '500':
          $ref: '#/components/responses/500'
  /v2/templates/{templateID}/builds/{buildID}:
    post:
      description: Start the build
      tags:
      - templates
      security:
      - ApiKeyAuth: []
      parameters:
      - $ref: '#/components/parameters/templateID'
      - $ref: '#/components/parameters/buildID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TemplateBuildStartV2'
      responses:
        '202':
          description: The build has started
        '401':
          $ref: '#/components/responses/401'
        '500':
          $ref: '#/components/responses/500'
  /v2/templates/{templateID}:
    patch:
      description: Update template
      tags:
      - templates
      security:
      - ApiKeyAuth: []
      - AccessTokenAuth: []
      parameters:
      - $ref: '#/components/parameters/templateID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TemplateUpdateRequest'
      responses:
        '200':
          description: The template was updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateUpdateResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '500':
          $ref: '#/components/responses/500'
  /templates/{templateID}/builds/{buildID}/status:
    get:
      description: Get template build info
      tags:
      - templates
      security:
      - AccessTokenAuth: []
      - ApiKeyAuth: []
      parameters:
      - $ref: '#/components/parameters/templateID'
      - $ref: '#/components/parameters/buildID'
      - in: query
        name: logsOffset
        schema:
          default: 0
          type: integer
          format: int32
          minimum: 0
        description: Index of the starting build log that should be returned with
          the template
      - in: query
        name: limit
        schema:
          default: 100
          type: integer
          format: int32
          minimum: 0
          maximum: 100
        description: Maximum number of logs that should be returned
      - in: query
        name: level
        schema:
          $ref: '#/components/schemas/LogLevel'
      responses:
        '200':
          description: Successfully returned the template
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateBuildInfo'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
  /templates/{templateID}/builds/{buildID}/logs:
    get:
      description: Get template build logs
      tags:
      - templates
      security:
      - AccessTokenAuth: []
      - ApiKeyAuth: []
      parameters:
      - $ref: '#/components/parameters/templateID'
      - $ref: '#/components/parameters/buildID'
      - in: query
        name: cursor
        schema:
          type: integer
          format: int64
          minimum: 0
        description: Starting timestamp of the logs that should be returned in milliseconds
      - in: query
        name: limit
        schema:
          default: 100
          type: integer
          format: int32
          minimum: 0
          maximum: 100
        description: Maximum number of logs that should be returned
      - in: query
        name: direction
        schema:
          $ref: '#/components/schemas/LogsDirection'
      - in: query
        name: level
        schema:
          $ref: '#/components/schemas/LogLevel'
      - in: query
        name: source
        schema:
          $ref: '#/components/schemas/LogsSource'
        description: Source of the logs that should be returned from
      responses:
        '200':
          description: Successfully returned the template build logs
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateBuildLogsResponse'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
  /templates/tags:
    post:
      description: Assign tag(s) to a template build
      tags:
      - tags
      security:
      - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssignTemplateTagsRequest'
      responses:
        '201':
          description: Tag assigned successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssignedTemplateTags'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
    delete:
      description: Delete multiple tags from templates
      tags:
      - tags
      security:
      - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteTemplateTagsRequest'
      responses:
        '204':
          description: Tags deleted successfully
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
  /templates/aliases/{alias}:
    get:
      description: Check if template with given alias exists
      tags:
      - templates
      security:
      - ApiKeyAuth: []
      parameters:
      - name: alias
        in: path
        required: true
        schema:
          type: string
          description: Template alias
      responses:
        '200':
          description: Successfully queried template by alias
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateAliasResponse'
        '400':
          $ref: '#/components/responses/400'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
components:
  securitySchemes:
    AccessTokenAuth:
      type: http
      scheme: bearer
      bearerFormat: access_token
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
  parameters:
    FilePath:
      name: path
      in: query
      required: false
      description: Path to the file, URL encoded. Can be relative to user's home directory.
      schema:
        type: string
    User:
      name: username
      in: query
      required: false
      description: User used for setting the owner, or resolving relative paths.
      schema:
        type: string
    Signature:
      name: signature
      in: query
      required: false
      description: Signature used for file access permission verification.
      schema:
        type: string
    SignatureExpiration:
      name: signature_expiration
      in: query
      required: false
      description: Signature expiration used for defining the expiration time of the
        signature.
      schema:
        type: integer
    templateID:
      name: templateID
      in: path
      required: true
      schema:
        type: string
    buildID:
      name: buildID
      in: path
      required: true
      schema:
        type: string
    sandboxID:
      name: sandboxID
      in: path
      required: true
      schema:
        type: string
    teamID:
      name: teamID
      in: path
      required: true
      schema:
        type: string
    nodeID:
      name: nodeID
      in: path
      required: true
      schema:
        type: string
    apiKeyID:
      name: apiKeyID
      in: path
      required: true
      schema:
        type: string
    accessTokenID:
      name: accessTokenID
      in: path
      required: true
      schema:
        type: string
    tag:
      name: tag
      in: path
      required: true
      schema:
        type: string
        description: Tag name
    paginationLimit:
      name: limit
      in: query
      description: Maximum number of items to return per page
      required: false
      schema:
        type: integer
        format: int32
        minimum: 1
        default: 100
        maximum: 100
    paginationNextToken:
      name: nextToken
      in: query
      description: Cursor to start the list from
      required: false
      schema:
        type: string
    volumeID:
      name: volumeID
      in: path
      required: true
      schema:
        type: string
  requestBodies:
    File:
      required: true
      content:
        multipart/form-data:
          schema:
            type: object
            properties:
              file:
                type: string
                format: binary
  responses:
    UploadSuccess:
      description: The file was uploaded successfully.
      content:
        application/json:
          schema:
            type: array
            items:
              $ref: '#/components/schemas/EntryInfo'
    DownloadSuccess:
      description: Entire file downloaded successfully.
      content:
        application/octet-stream:
          schema:
            type: string
            format: binary
            description: The file content
    InvalidPath:
      description: Invalid path
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    InternalServerError:
      description: Internal server error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    FileNotFound:
      description: File not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    InvalidUser:
      description: Invalid user
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotEnoughDiskSpace:
      description: Not enough disk space
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    '400':
      description: Bad request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    '401':
      description: Authentication error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    '403':
      description: Forbidden
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    '404':
      description: Not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    '409':
      description: Conflict
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    '500':
      description: Server error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    Error:
      required:
      - code
      - message
      properties:
        code:
          type: integer
          format: int32
          description: Error code
        message:
          type: string
          description: Error
    EntryInfo:
      required:
      - path
      - name
      - type
      properties:
        path:
          type: string
          description: Path to the file
        name:
          type: string
          description: Name of the file
        type:
          type: string
          description: Type of the file
          enum:
          - file
    EnvVars:
      additionalProperties:
        type: string
        description: Environment variables for the sandbox
    Metrics:
      type: object
      description: Resource usage metrics
      properties:
        ts:
          type: integer
          format: int64
          description: Unix timestamp in UTC for current sandbox time
        cpu_count:
          type: integer
          description: Number of CPU cores
        cpu_used_pct:
          type: number
          format: float
          description: CPU usage percentage
        mem_total:
          type: integer
          description: Total virtual memory in bytes
        mem_used:
          type: integer
          description: Used virtual memory in bytes
        disk_used:
          type: integer
          description: Used disk space in bytes
        disk_total:
          type: integer
          description: Total disk space in bytes
    VolumeMount:
      type: object
      description: Volume
      additionalProperties: false
      properties:
        nfs_target:
          type: string
        path:
          type: string
      required:
      - nfs_target
      - path
    connect-protocol-version:
      type: number
      title: Connect-Protocol-Version
      enum:
      - 1
      description: Define the version of the Connect protocol
      const: 1
    connect-timeout-header:
      type: number
      title: Connect-Timeout-Ms
      description: Define the timeout, in ms
    connect.error:
      type: object
      properties:
        code:
          type: string
          examples:
          - not_found
          enum:
          - canceled
          - unknown
          - invalid_argument
          - deadline_exceeded
          - not_found
          - already_exists
          - permission_denied
          - resource_exhausted
          - failed_precondition
          - aborted
          - out_of_range
          - unimplemented
          - internal
          - unavailable
          - data_loss
          - unauthenticated
          description: The status code, which should be an enum value of [google.rpc.Code][google.rpc.Code].
        message:
          type: string
          description: A developer-facing error message, which should be in English.
            Any user-facing error message should be localized and sent in the [google.rpc.Status.details][google.rpc.Status.details]
            field, or localized by the client.
        details:
          type: array
          items:
            $ref: '#/components/schemas/connect.error_details.Any'
          description: A list of messages that carry the error details. There is no
            limit on the number of messages.
      title: Connect Error
      additionalProperties: true
      description: 'Error type returned by Connect: https://connectrpc.com/docs/go/errors/#http-representation'
    connect.error_details.Any:
      type: object
      properties:
        type:
          type: string
          description: 'A URL that acts as a globally unique identifier for the type
            of the serialized message. For example: `type.googleapis.com/google.rpc.ErrorInfo`.
            This is used to determine the schema of the data in the `value` field
            and is the discriminator for the `debug` field.'
        value:
          type: string
          format: binary
          description: The Protobuf message, serialized as bytes and base64-encoded.
            The specific message type is identified by the `type` field.
        debug:
          oneOf:
          - type: object
            title: Any
            additionalProperties: true
            description: Detailed error information.
          discriminator:
            propertyName: type
          title: Debug
          description: Deserialized error detail payload. The 'type' field indicates
            the schema. This field is for easier debugging and should not be relied
            upon for application logic.
      additionalProperties: true
      description: Contains an arbitrary serialized message along with a @type that
        describes the type of the serialized message, with an additional debug field
        for ConnectRPC error details.
    filesystem.CreateWatcherRequest:
      type: object
      properties:
        path:
          type: string
          title: path
        recursive:
          type: boolean
          title: recursive
      title: CreateWatcherRequest
      additionalProperties: false
    filesystem.CreateWatcherResponse:
      type: object
      properties:
        watcherId:
          type: string
          title: watcher_id
      title: CreateWatcherResponse
      additionalProperties: false
    filesystem.EntryInfo:
      type: object
      properties:
        name:
          type: string
          title: name
        type:
          title: type
          $ref: '#/components/schemas/filesystem.FileType'
        path:
          type: string
          title: path
        size:
          type:
          - integer
          - string
          title: size
          format: int64
        mode:
          type: integer
          title: mode
        permissions:
          type: string
          title: permissions
        owner:
          type: string
          title: owner
        group:
          type: string
          title: group
        modifiedTime:
          title: modified_time
          $ref: '#/components/schemas/google.protobuf.Timestamp'
        symlinkTarget:
          type:
          - string
          - 'null'
          title: symlink_target
          description: If the entry is a symlink, this field contains the target of
            the symlink.
      title: EntryInfo
      additionalProperties: false
    filesystem.EventType:
      type: string
      title: EventType
      enum:
      - EVENT_TYPE_UNSPECIFIED
      - EVENT_TYPE_CREATE
      - EVENT_TYPE_WRITE
      - EVENT_TYPE_REMOVE
      - EVENT_TYPE_RENAME
      - EVENT_TYPE_CHMOD
    filesystem.FileType:
      type: string
      title: FileType
      enum:
      - FILE_TYPE_UNSPECIFIED
      - FILE_TYPE_FILE
      - FILE_TYPE_DIRECTORY
    filesystem.FilesystemEvent:
      type: object
      properties:
        name:
          type: string
          title: name
        type:
          title: type
          $ref: '#/components/schemas/filesystem.EventType'
      title: FilesystemEvent
      additionalProperties: false
    filesystem.GetWatcherEventsRequest:
      type: object
      properties:
        watcherId:
          type: string
          title: watcher_id
      title: GetWatcherEventsRequest
      additionalProperties: false
    filesystem.GetWatcherEventsResponse:
      type: object
      properties:
        events:
          type: array
          items:
            $ref: '#/components/schemas/filesystem.FilesystemEvent'
          title: events
      title: GetWatcherEventsResponse
      additionalProperties: false
    filesystem.ListDirRequest:
      type: object
      properties:
        path:
          type: string
          title: path
        depth:
          type: integer
          title: depth
      title: ListDirRequest
      additionalProperties: false
    filesystem.ListDirResponse:
      type: object
      properties:
        entries:
          type: array
          items:
            $ref: '#/components/schemas/filesystem.EntryInfo'
          title: entries
      title: ListDirResponse
      additionalProperties: false
    filesystem.MakeDirRequest:
      type: object
      properties:
        path:
          type: string
          title: path
      title: MakeDirRequest
      additionalProperties: false
    filesystem.MakeDirResponse:
      type: object
      properties:
        entry:
          title: entry
          $ref: '#/components/schemas/filesystem.EntryInfo'
      title: MakeDirResponse
      additionalProperties: false
    filesystem.MoveRequest:
      type: object
      properties:
        source:
          type: string
          title: source
        destination:
          type: string
          title: destination
      title: MoveRequest
      additionalProperties: false
    filesystem.MoveResponse:
      type: object
      properties:
        entry:
          title: entry
          $ref: '#/components/schemas/filesystem.EntryInfo'
      title: MoveResponse
      additionalProperties: false
    filesystem.RemoveRequest:
      type: object
      properties:
        path:
          type: string
          title: path
      title: RemoveRequest
      additionalProperties: false
    filesystem.RemoveResponse:
      type: object
      title: RemoveResponse
      additionalProperties: false
    filesystem.RemoveWatcherRequest:
      type: object
      properties:
        watcherId:
          type: string
          title: watcher_id
      title: RemoveWatcherRequest
      additionalProperties: false
    filesystem.RemoveWatcherResponse:
      type: object
      title: RemoveWatcherResponse
      additionalProperties: false
    filesystem.StatRequest:
      type: object
      properties:
        path:
          type: string
          title: path
      title: StatRequest
      additionalProperties: false
    filesystem.StatResponse:
      type: object
      properties:
        entry:
          title: entry
          $ref: '#/components/schemas/filesystem.EntryInfo'
      title: StatResponse
      additionalProperties: false
    filesystem.WatchDirRequest:
      type: object
      properties:
        path:
          type: string
          title: path
        recursive:
          type: boolean
          title: recursive
      title: WatchDirRequest
      additionalProperties: false
    filesystem.WatchDirResponse:
      type: object
      oneOf:
      - properties:
          filesystem:
            title: filesystem
            $ref: '#/components/schemas/filesystem.FilesystemEvent'
        title: filesystem
        required:
        - filesystem
      - properties:
          keepalive:
            title: keepalive
            $ref: '#/components/schemas/filesystem.WatchDirResponse.KeepAlive'
        title: keepalive
        required:
        - keepalive
      - properties:
          start:
            title: start
            $ref: '#/components/schemas/filesystem.WatchDirResponse.StartEvent'
        title: start
        required:
        - start
      title: WatchDirResponse
      additionalProperties: false
    filesystem.WatchDirResponse.KeepAlive:
      type: object
      title: KeepAlive
      additionalProperties: false
    filesystem.WatchDirResponse.StartEvent:
      type: object
      title: StartEvent
      additionalProperties: false
    google.protobuf.Timestamp:
      type: string
      examples:
      - '2023-01-15T01:30:15.01Z'
      - '2024-12-25T12:00:00Z'
      format: date-time
      description: "A Timestamp represents a point in time independent of any time\
        \ zone or local\n calendar, encoded as a count of seconds and fractions of\
        \ seconds at\n nanosecond resolution. The count is relative to an epoch at\
        \ UTC midnight on\n January 1, 1970, in the proleptic Gregorian calendar which\
        \ extends the\n Gregorian calendar backwards to year one.\n\n All minutes\
        \ are 60 seconds long. Leap seconds are \"smeared\" so that no leap\n second\
        \ table is needed for interpretation, using a [24-hour linear\n smear](https://developers.google.com/time/smear).\n\
        \n The range is from 0001-01-01T00:00:00Z to 9999-12-31T23:59:59.999999999Z.\
        \ By\n restricting to that range, we ensure that we can convert to and from\
        \ [RFC\n 3339](https://www.ietf.org/rfc/rfc3339.txt) date strings.\n\n # Examples\n\
        \n Example 1: Compute Timestamp from POSIX `time()`.\n\n     Timestamp timestamp;\n\
        \     timestamp.set_seconds(time(NULL));\n     timestamp.set_nanos(0);\n\n\
        \ Example 2: Compute Timestamp from POSIX `gettimeofday()`.\n\n     struct\
        \ timeval tv;\n     gettimeofday(&tv, NULL);\n\n     Timestamp timestamp;\n\
        \     timestamp.set_seconds(tv.tv_sec);\n     timestamp.set_nanos(tv.tv_usec\
        \ * 1000);\n\n Example 3: Compute Timestamp from Win32 `GetSystemTimeAsFileTime()`.\n\
        \n     FILETIME ft;\n     GetSystemTimeAsFileTime(&ft);\n     UINT64 ticks\
        \ = (((UINT64)ft.dwHighDateTime) << 32) | ft.dwLowDateTime;\n\n     // A Windows\
        \ tick is 100 nanoseconds. Windows epoch 1601-01-01T00:00:00Z\n     // is\
        \ 11644473600 seconds before Unix epoch 1970-01-01T00:00:00Z.\n     Timestamp\
        \ timestamp;\n     timestamp.set_seconds((INT64) ((ticks / 10000000) - 11644473600LL));\n\
        \     timestamp.set_nanos((INT32) ((ticks % 10000000) * 100));\n\n Example\
        \ 4: Compute Timestamp from Java `System.currentTimeMillis()`.\n\n     long\
        \ millis = System.currentTimeMillis();\n\n     Timestamp timestamp = Timestamp.newBuilder().setSeconds(millis\
        \ / 1000)\n         .setNanos((int) ((millis % 1000) * 1000000)).build();\n\
        \n Example 5: Compute Timestamp from Java `Instant.now()`.\n\n     Instant\
        \ now = Instant.now();\n\n     Timestamp timestamp =\n         Timestamp.newBuilder().setSeconds(now.getEpochSecond())\n\
        \             .setNanos(now.getNano()).build();\n\n Example 6: Compute Timestamp\
        \ from current time in Python.\n\n     timestamp = Timestamp()\n     timestamp.GetCurrentTime()\n\
        \n # JSON Mapping\n\n In JSON format, the Timestamp type is encoded as a string\
        \ in the\n [RFC 3339](https://www.ietf.org/rfc/rfc3339.txt) format. That is,\
        \ the\n format is \"{year}-{month}-{day}T{hour}:{min}:{sec}[.{frac_sec}]Z\"\
        \n where {year} is always expressed using four digits while {month}, {day},\n\
        \ {hour}, {min}, and {sec} are zero-padded to two digits each. The fractional\n\
        \ seconds, which can go up to 9 digits (i.e. up to 1 nanosecond resolution),\n\
        \ are optional. The \"Z\" suffix indicates the timezone (\"UTC\"); the timezone\n\
        \ is required. A proto3 JSON serializer should always use UTC (as indicated\
        \ by\n \"Z\") when printing the Timestamp type and a proto3 JSON parser should\
        \ be\n able to accept both UTC and other timezones (as indicated by an offset).\n\
        \n For example, \"2017-01-15T01:30:15.01Z\" encodes 15.01 seconds past\n 01:30\
        \ UTC on January 15, 2017.\n\n In JavaScript, one can convert a Date object\
        \ to this format using the\n standard\n [toISOString()](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Date/toISOString)\n\
        \ method. In Python, a standard `datetime.datetime` object can be converted\n\
        \ to this format using\n [`strftime`](https://docs.python.org/2/library/time.html#time.strftime)\
        \ with\n the time format spec '%Y-%m-%dT%H:%M:%S.%fZ'. Likewise, in Java,\
        \ one can use\n the Joda Time's [`ISODateTimeFormat.dateTime()`](\n http://joda-time.sourceforge.net/apidocs/org/joda/time/format/ISODateTimeFormat.html#dateTime()\n\
        \ ) to obtain a formatter capable of generating timestamps in this format."
    process.CloseStdinRequest:
      type: object
      properties:
        process:
          title: process
          $ref: '#/components/schemas/process.ProcessSelector'
      title: CloseStdinRequest
      additionalProperties: false
    process.CloseStdinResponse:
      type: object
      title: CloseStdinResponse
      additionalProperties: false
    process.ConnectRequest:
      type: object
      properties:
        process:
          title: process
          $ref: '#/components/schemas/process.ProcessSelector'
      title: ConnectRequest
      additionalProperties: false
    process.ConnectResponse:
      type: object
      properties:
        event:
          title: event
          $ref: '#/components/schemas/process.ProcessEvent'
      title: ConnectResponse
      additionalProperties: false
    process.ListRequest:
      type: object
      title: ListRequest
      additionalProperties: false
    process.ListResponse:
      type: object
      properties:
        processes:
          type: array
          items:
            $ref: '#/components/schemas/process.ProcessInfo'
          title: processes
      title: ListResponse
      additionalProperties: false
    process.PTY:
      type: object
      properties:
        size:
          title: size
          $ref: '#/components/schemas/process.PTY.Size'
      title: PTY
      additionalProperties: false
    process.PTY.Size:
      type: object
      properties:
        cols:
          type: integer
          title: cols
        rows:
          type: integer
          title: rows
      title: Size
      additionalProperties: false
    process.ProcessConfig:
      type: object
      properties:
        cmd:
          type: string
          title: cmd
        args:
          type: array
          items:
            type: string
          title: args
        envs:
          type: object
          title: envs
          additionalProperties:
            type: string
            title: value
        cwd:
          type:
          - string
          - 'null'
          title: cwd
      title: ProcessConfig
      additionalProperties: false
    process.ProcessConfig.EnvsEntry:
      type: object
      properties:
        key:
          type: string
          title: key
        value:
          type: string
          title: value
      title: EnvsEntry
      additionalProperties: false
    process.ProcessEvent:
      type: object
      oneOf:
      - properties:
          data:
            title: data
            $ref: '#/components/schemas/process.ProcessEvent.DataEvent'
        title: data
        required:
        - data
      - properties:
          end:
            title: end
            $ref: '#/components/schemas/process.ProcessEvent.EndEvent'
        title: end
        required:
        - end
      - properties:
          keepalive:
            title: keepalive
            $ref: '#/components/schemas/process.ProcessEvent.KeepAlive'
        title: keepalive
        required:
        - keepalive
      - properties:
          start:
            title: start
            $ref: '#/components/schemas/process.ProcessEvent.StartEvent'
        title: start
        required:
        - start
      title: ProcessEvent
      additionalProperties: false
    process.ProcessEvent.DataEvent:
      type: object
      oneOf:
      - properties:
          pty:
            type: string
            title: pty
            format: byte
        title: pty
        required:
        - pty
      - properties:
          stderr:
            type: string
            title: stderr
            format: byte
        title: stderr
        required:
        - stderr
      - properties:
          stdout:
            type: string
            title: stdout
            format: byte
        title: stdout
        required:
        - stdout
      title: DataEvent
      additionalProperties: false
    process.ProcessEvent.EndEvent:
      type: object
      properties:
        exitCode:
          type: integer
          title: exit_code
          format: int32
        exited:
          type: boolean
          title: exited
        status:
          type: string
          title: status
        error:
          type:
          - string
          - 'null'
          title: error
      title: EndEvent
      additionalProperties: false
    process.ProcessEvent.KeepAlive:
      type: object
      title: KeepAlive
      additionalProperties: false
    process.ProcessEvent.StartEvent:
      type: object
      properties:
        pid:
          type: integer
          title: pid
      title: StartEvent
      additionalProperties: false
    process.ProcessInfo:
      type: object
      properties:
        config:
          title: config
          $ref: '#/components/schemas/process.ProcessConfig'
        pid:
          type: integer
          title: pid
        tag:
          type:
          - string
          - 'null'
          title: tag
      title: ProcessInfo
      additionalProperties: false
    process.ProcessInput:
      type: object
      oneOf:
      - properties:
          pty:
            type: string
            title: pty
            format: byte
        title: pty
        required:
        - pty
      - properties:
          stdin:
            type: string
            title: stdin
            format: byte
        title: stdin
        required:
        - stdin
      title: ProcessInput
      additionalProperties: false
    process.ProcessSelector:
      type: object
      oneOf:
      - properties:
          pid:
            type: integer
            title: pid
        title: pid
        required:
        - pid
      - properties:
          tag:
            type: string
            title: tag
        title: tag
        required:
        - tag
      title: ProcessSelector
      additionalProperties: false
    process.SendInputRequest:
      type: object
      properties:
        process:
          title: process
          $ref: '#/components/schemas/process.ProcessSelector'
        input:
          title: input
          $ref: '#/components/schemas/process.ProcessInput'
      title: SendInputRequest
      additionalProperties: false
    process.SendInputResponse:
      type: object
      title: SendInputResponse
      additionalProperties: false
    process.SendSignalRequest:
      type: object
      properties:
        process:
          title: process
          $ref: '#/components/schemas/process.ProcessSelector'
        signal:
          title: signal
          $ref: '#/components/schemas/process.Signal'
      title: SendSignalRequest
      additionalProperties: false
    process.SendSignalResponse:
      type: object
      title: SendSignalResponse
      additionalProperties: false
    process.Signal:
      type: string
      title: Signal
      enum:
      - SIGNAL_UNSPECIFIED
      - SIGNAL_SIGTERM
      - SIGNAL_SIGKILL
    process.StartRequest:
      type: object
      properties:
        process:
          title: process
          $ref: '#/components/schemas/process.ProcessConfig'
        pty:
          oneOf:
          - $ref: '#/components/schemas/process.PTY'
          - type: 'null'
          title: pty
        tag:
          type:
          - string
          - 'null'
          title: tag
        stdin:
          type:
          - boolean
          - 'null'
          title: stdin
          description: "This is optional for backwards compatibility.\n We default\
            \ to true. New SDK versions will set this to false by default."
      title: StartRequest
      additionalProperties: false
    process.StartResponse:
      type: object
      properties:
        event:
          title: event
          $ref: '#/components/schemas/process.ProcessEvent'
      title: StartResponse
      additionalProperties: false
    process.StreamInputRequest:
      type: object
      oneOf:
      - properties:
          data:
            title: data
            $ref: '#/components/schemas/process.StreamInputRequest.DataEvent'
        title: data
        required:
        - data
      - properties:
          keepalive:
            title: keepalive
            $ref: '#/components/schemas/process.StreamInputRequest.KeepAlive'
        title: keepalive
        required:
        - keepalive
      - properties:
          start:
            title: start
            $ref: '#/components/schemas/process.StreamInputRequest.StartEvent'
        title: start
        required:
        - start
      title: StreamInputRequest
      additionalProperties: false
    process.StreamInputRequest.DataEvent:
      type: object
      properties:
        input:
          title: input
          $ref: '#/components/schemas/process.ProcessInput'
      title: DataEvent
      additionalProperties: false
    process.StreamInputRequest.KeepAlive:
      type: object
      title: KeepAlive
      additionalProperties: false
    process.StreamInputRequest.StartEvent:
      type: object
      properties:
        process:
          title: process
          $ref: '#/components/schemas/process.ProcessSelector'
      title: StartEvent
      additionalProperties: false
    process.StreamInputResponse:
      type: object
      title: StreamInputResponse
      additionalProperties: false
    process.UpdateRequest:
      type: object
      properties:
        process:
          title: process
          $ref: '#/components/schemas/process.ProcessSelector'
        pty:
          oneOf:
          - $ref: '#/components/schemas/process.PTY'
          - type: 'null'
          title: pty
      title: UpdateRequest
      additionalProperties: false
    process.UpdateResponse:
      type: object
      title: UpdateResponse
      additionalProperties: false
    Team:
      required:
      - teamID
      - name
      - apiKey
      - isDefault
      properties:
        teamID:
          type: string
          description: Identifier of the team
        name:
          type: string
          description: Name of the team
        apiKey:
          type: string
          description: API key for the team
        isDefault:
          type: boolean
          description: Whether the team is the default team
    TeamUser:
      required:
      - id
      - email
      properties:
        id:
          type: string
          format: uuid
          description: Identifier of the user
        email:
          type: string
          description: Email of the user
    TemplateUpdateRequest:
      properties:
        public:
          type: boolean
          description: Whether the template is public or only accessible by the team
    TemplateUpdateResponse:
      required:
      - names
      properties:
        names:
          type: array
          description: Names of the template (namespace/alias format when namespaced)
          items:
            type: string
    CPUCount:
      type: integer
      format: int32
      minimum: 1
      description: CPU cores for the sandbox
    MemoryMB:
      type: integer
      format: int32
      minimum: 128
      description: Memory for the sandbox in MiB
    DiskSizeMB:
      type: integer
      format: int32
      minimum: 0
      description: Disk size for the sandbox in MiB
    EnvdVersion:
      type: string
      description: Version of the envd running in the sandbox
    SandboxMetadata:
      additionalProperties:
        type: string
        description: Metadata of the sandbox
    SandboxState:
      type: string
      description: State of the sandbox
      enum:
      - running
      - paused
    Mcp:
      type: object
      description: MCP configuration for the sandbox
      additionalProperties: {}
      nullable: true
    SandboxNetworkConfig:
      type: object
      properties:
        allowPublicTraffic:
          type: boolean
          default: true
          description: Specify if the sandbox URLs should be accessible only with
            authentication.
        allowOut:
          type: array
          description: List of allowed CIDR blocks or IP addresses for egress traffic.
            Allowed addresses always take precedence over blocked addresses.
          items:
            type: string
        denyOut:
          type: array
          description: List of denied CIDR blocks or IP addresses for egress traffic
          items:
            type: string
        maskRequestHost:
          type: string
          description: Specify host mask which will be used for all sandbox requests
    SandboxAutoResumePolicy:
      type: string
      description: Auto-resume policy for paused sandboxes. Default is off.
      default: 'off'
      enum:
      - any
      - false
    SandboxAutoResumeConfig:
      type: object
      description: Auto-resume configuration for paused sandboxes. Default is off.
      required:
      - policy
      properties:
        policy:
          $ref: '#/components/schemas/SandboxAutoResumePolicy'
    SandboxLog:
      description: Log entry with timestamp and line
      required:
      - timestamp
      - line
      properties:
        timestamp:
          type: string
          format: date-time
          description: Timestamp of the log entry
        line:
          type: string
          description: Log line content
    SandboxLogEntry:
      required:
      - timestamp
      - level
      - message
      - fields
      properties:
        timestamp:
          type: string
          format: date-time
          description: Timestamp of the log entry
        message:
          type: string
          description: Log message content
        level:
          $ref: '#/components/schemas/LogLevel'
        fields:
          type: object
          additionalProperties:
            type: string
    SandboxLogs:
      required:
      - logs
      - logEntries
      properties:
        logs:
          description: Logs of the sandbox
          type: array
          items:
            $ref: '#/components/schemas/SandboxLog'
        logEntries:
          description: Structured logs of the sandbox
          type: array
          items:
            $ref: '#/components/schemas/SandboxLogEntry'
    SandboxLogsV2Response:
      required:
      - logs
      properties:
        logs:
          default: []
          description: Sandbox logs structured
          type: array
          items:
            $ref: '#/components/schemas/SandboxLogEntry'
    SandboxMetric:
      description: Metric entry with timestamp and line
      required:
      - timestamp
      - timestampUnix
      - cpuCount
      - cpuUsedPct
      - memUsed
      - memTotal
      - diskUsed
      - diskTotal
      properties:
        timestamp:
          type: string
          format: date-time
          deprecated: true
          description: Timestamp of the metric entry
        timestampUnix:
          type: integer
          format: int64
          description: Timestamp of the metric entry in Unix time (seconds since epoch)
        cpuCount:
          type: integer
          format: int32
          description: Number of CPU cores
        cpuUsedPct:
          type: number
          format: float
          description: CPU usage percentage
        memUsed:
          type: integer
          format: int64
          description: Memory used in bytes
        memTotal:
          type: integer
          format: int64
          description: Total memory in bytes
        diskUsed:
          type: integer
          format: int64
          description: Disk used in bytes
        diskTotal:
          type: integer
          format: int64
          description: Total disk space in bytes
    SandboxVolumeMount:
      type: object
      properties:
        name:
          type: string
          description: Name of the volume
        path:
          type: string
          description: Path of the volume
      required:
      - name
      - path
    Sandbox:
      required:
      - templateID
      - sandboxID
      - clientID
      - envdVersion
      properties:
        templateID:
          type: string
          description: Identifier of the template from which is the sandbox created
        sandboxID:
          type: string
          description: Identifier of the sandbox
        alias:
          type: string
          description: Alias of the template
        clientID:
          type: string
          deprecated: true
          description: Identifier of the client
        envdVersion:
          $ref: '#/components/schemas/EnvdVersion'
        envdAccessToken:
          type: string
          description: Access token used for envd communication
        trafficAccessToken:
          type: string
          nullable: true
          description: Token required for accessing sandbox via proxy.
        domain:
          type: string
          nullable: true
          description: Base domain where the sandbox traffic is accessible
    SandboxDetail:
      required:
      - templateID
      - sandboxID
      - clientID
      - startedAt
      - cpuCount
      - memoryMB
      - diskSizeMB
      - endAt
      - state
      - envdVersion
      properties:
        templateID:
          type: string
          description: Identifier of the template from which is the sandbox created
        alias:
          type: string
          description: Alias of the template
        sandboxID:
          type: string
          description: Identifier of the sandbox
        clientID:
          type: string
          deprecated: true
          description: Identifier of the client
        startedAt:
          type: string
          format: date-time
          description: Time when the sandbox was started
        endAt:
          type: string
          format: date-time
          description: Time when the sandbox will expire
        envdVersion:
          $ref: '#/components/schemas/EnvdVersion'
        envdAccessToken:
          type: string
          description: Access token used for envd communication
        domain:
          type: string
          nullable: true
          description: Base domain where the sandbox traffic is accessible
        cpuCount:
          $ref: '#/components/schemas/CPUCount'
        memoryMB:
          $ref: '#/components/schemas/MemoryMB'
        diskSizeMB:
          $ref: '#/components/schemas/DiskSizeMB'
        metadata:
          $ref: '#/components/schemas/SandboxMetadata'
        state:
          $ref: '#/components/schemas/SandboxState'
    ListedSandbox:
      required:
      - templateID
      - sandboxID
      - clientID
      - startedAt
      - cpuCount
      - memoryMB
      - diskSizeMB
      - endAt
      - state
      - envdVersion
      properties:
        templateID:
          type: string
          description: Identifier of the template from which is the sandbox created
        alias:
          type: string
          description: Alias of the template
        sandboxID:
          type: string
          description: Identifier of the sandbox
        clientID:
          type: string
          deprecated: true
          description: Identifier of the client
        startedAt:
          type: string
          format: date-time
          description: Time when the sandbox was started
        endAt:
          type: string
          format: date-time
          description: Time when the sandbox will expire
        cpuCount:
          $ref: '#/components/schemas/CPUCount'
        memoryMB:
          $ref: '#/components/schemas/MemoryMB'
        diskSizeMB:
          $ref: '#/components/schemas/DiskSizeMB'
        metadata:
          $ref: '#/components/schemas/SandboxMetadata'
        state:
          $ref: '#/components/schemas/SandboxState'
        envdVersion:
          $ref: '#/components/schemas/EnvdVersion'
    SandboxesWithMetrics:
      required:
      - sandboxes
      properties:
        sandboxes:
          additionalProperties:
            $ref: '#/components/schemas/SandboxMetric'
    NewSandbox:
      required:
      - templateID
      properties:
        templateID:
          type: string
          description: Identifier of the required template
        timeout:
          type: integer
          format: int32
          minimum: 0
          default: 15
          description: Time to live for the sandbox in seconds.
        autoPause:
          type: boolean
          default: false
          description: Automatically pauses the sandbox after the timeout
        autoResume:
          $ref: '#/components/schemas/SandboxAutoResumeConfig'
        secure:
          type: boolean
          description: Secure all system communication with sandbox
        allow_internet_access:
          type: boolean
          description: Allow sandbox to access the internet. When set to false, it
            behaves the same as specifying denyOut to 0.0.0.0/0 in the network config.
        network:
          $ref: '#/components/schemas/SandboxNetworkConfig'
        metadata:
          $ref: '#/components/schemas/SandboxMetadata'
        envVars:
          $ref: '#/components/schemas/EnvVars'
        mcp:
          $ref: '#/components/schemas/Mcp'
        volumeMounts:
          type: array
          items:
            $ref: '#/components/schemas/SandboxVolumeMount'
    ResumedSandbox:
      properties:
        timeout:
          type: integer
          format: int32
          minimum: 0
          default: 15
          description: Time to live for the sandbox in seconds.
        autoPause:
          type: boolean
          deprecated: true
          description: Automatically pauses the sandbox after the timeout
    ConnectSandbox:
      type: object
      required:
      - timeout
      properties:
        timeout:
          description: Timeout in seconds from the current time after which the sandbox
            should expire
          type: integer
          format: int32
          minimum: 0
    TeamMetric:
      description: Team metric with timestamp
      required:
      - timestamp
      - timestampUnix
      - concurrentSandboxes
      - sandboxStartRate
      properties:
        timestamp:
          type: string
          format: date-time
          deprecated: true
          description: Timestamp of the metric entry
        timestampUnix:
          type: integer
          format: int64
          description: Timestamp of the metric entry in Unix time (seconds since epoch)
        concurrentSandboxes:
          type: integer
          format: int32
          description: The number of concurrent sandboxes for the team
        sandboxStartRate:
          type: number
          format: float
          description: Number of sandboxes started per second
    MaxTeamMetric:
      description: Team metric with timestamp
      required:
      - timestamp
      - timestampUnix
      - value
      properties:
        timestamp:
          type: string
          format: date-time
          deprecated: true
          description: Timestamp of the metric entry
        timestampUnix:
          type: integer
          format: int64
          description: Timestamp of the metric entry in Unix time (seconds since epoch)
        value:
          type: number
          description: The maximum value of the requested metric in the given interval
    AdminSandboxKillResult:
      required:
      - killedCount
      - failedCount
      properties:
        killedCount:
          type: integer
          description: Number of sandboxes successfully killed
        failedCount:
          type: integer
          description: Number of sandboxes that failed to kill
    Template:
      required:
      - templateID
      - buildID
      - cpuCount
      - memoryMB
      - diskSizeMB
      - public
      - createdAt
      - updatedAt
      - createdBy
      - lastSpawnedAt
      - spawnCount
      - buildCount
      - envdVersion
      - aliases
      - names
      - buildStatus
      properties:
        templateID:
          type: string
          description: Identifier of the template
        buildID:
          type: string
          description: Identifier of the last successful build for given template
        cpuCount:
          $ref: '#/components/schemas/CPUCount'
        memoryMB:
          $ref: '#/components/schemas/MemoryMB'
        diskSizeMB:
          $ref: '#/components/schemas/DiskSizeMB'
        public:
          type: boolean
          description: Whether the template is public or only accessible by the team
        aliases:
          type: array
          description: Aliases of the template
          deprecated: true
          items:
            type: string
        names:
          type: array
          description: Names of the template (namespace/alias format when namespaced)
          items:
            type: string
        createdAt:
          type: string
          format: date-time
          description: Time when the template was created
        updatedAt:
          type: string
          format: date-time
          description: Time when the template was last updated
        createdBy:
          allOf:
          - $ref: '#/components/schemas/TeamUser'
          nullable: true
        lastSpawnedAt:
          type: string
          nullable: true
          format: date-time
          description: Time when the template was last used
        spawnCount:
          type: integer
          format: int64
          description: Number of times the template was used
        buildCount:
          type: integer
          format: int32
          description: Number of times the template was built
        envdVersion:
          $ref: '#/components/schemas/EnvdVersion'
        buildStatus:
          $ref: '#/components/schemas/TemplateBuildStatus'
    TemplateRequestResponseV3:
      required:
      - templateID
      - buildID
      - public
      - aliases
      - names
      - tags
      properties:
        templateID:
          type: string
          description: Identifier of the template
        buildID:
          type: string
          description: Identifier of the last successful build for given template
        public:
          type: boolean
          description: Whether the template is public or only accessible by the team
        names:
          type: array
          description: Names of the template
          items:
            type: string
        tags:
          type: array
          description: Tags assigned to the template build
          items:
            type: string
        aliases:
          type: array
          description: Aliases of the template
          deprecated: true
          items:
            type: string
    TemplateLegacy:
      required:
      - templateID
      - buildID
      - cpuCount
      - memoryMB
      - diskSizeMB
      - public
      - createdAt
      - updatedAt
      - createdBy
      - lastSpawnedAt
      - spawnCount
      - buildCount
      - envdVersion
      - aliases
      properties:
        templateID:
          type: string
          description: Identifier of the template
        buildID:
          type: string
          description: Identifier of the last successful build for given template
        cpuCount:
          $ref: '#/components/schemas/CPUCount'
        memoryMB:
          $ref: '#/components/schemas/MemoryMB'
        diskSizeMB:
          $ref: '#/components/schemas/DiskSizeMB'
        public:
          type: boolean
          description: Whether the template is public or only accessible by the team
        aliases:
          type: array
          description: Aliases of the template
          items:
            type: string
        createdAt:
          type: string
          format: date-time
          description: Time when the template was created
        updatedAt:
          type: string
          format: date-time
          description: Time when the template was last updated
        createdBy:
          allOf:
          - $ref: '#/components/schemas/TeamUser'
          nullable: true
        lastSpawnedAt:
          type: string
          nullable: true
          format: date-time
          description: Time when the template was last used
        spawnCount:
          type: integer
          format: int64
          description: Number of times the template was used
        buildCount:
          type: integer
          format: int32
          description: Number of times the template was built
        envdVersion:
          $ref: '#/components/schemas/EnvdVersion'
    TemplateBuild:
      required:
      - buildID
      - status
      - createdAt
      - updatedAt
      - cpuCount
      - memoryMB
      properties:
        buildID:
          type: string
          format: uuid
          description: Identifier of the build
        status:
[...]
