openapi: 3.0.0
info:
  version: 0.1.0
  title: E2B API
  description: |
    API for managing and interacting with E2B sandboxes.

    ## REST API (api.e2b.app)
    Endpoints for creating and managing sandboxes and templates.
    - **Authentication**: `X-API-Key` header with your API key from the [E2B Dashboard](https://e2b.dev/dashboard?tab=keys)
    - **Base URL**: `https://api.e2b.app`

    ## Sandbox API ({sandboxID}.e2b.app)
    Endpoints for interacting with files and processes inside a running sandbox.
    - **Authentication**: `X-Access-Token` header with the access token received when creating a sandbox
    - **Base URL**: `https://{sandboxID}.e2b.app`
servers:
  - url: https://api.e2b.app
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
    AccessTokenAuth:
      type: apiKey
      in: header
      name: X-Access-Token
      description: Access token received when creating a sandbox (for Sandbox API endpoints)
  parameters:
    templateID:
      name: templateID
      in: path
      required: true
      schema:
        type: string
    buildID:
      name: buildID
      in: path
      required: true
      schema:
        type: string
    sandboxID:
      name: sandboxID
      in: path
      required: true
      schema:
        type: string
    teamID:
      name: teamID
      in: path
      required: true
      schema:
        type: string
    nodeID:
      name: nodeID
      in: path
      required: true
      schema:
        type: string
    apiKeyID:
      name: apiKeyID
      in: path
      required: true
      schema:
        type: string
    accessTokenID:
      name: accessTokenID
      in: path
      required: true
      schema:
        type: string
    tag:
      name: tag
      in: path
      required: true
      schema:
        type: string
        description: Tag name
    paginationLimit:
      name: limit
      in: query
      description: Maximum number of items to return per page
      required: false
      schema:
        type: integer
        format: int32
        minimum: 1
        default: 100
        maximum: 100
    paginationNextToken:
      name: nextToken
      in: query
      description: Cursor to start the list from
      required: false
      schema:
        type: string
    SandboxFilePath:
      name: path
      in: query
      required: false
      description: Path to the file, URL encoded. Can be relative to user's home directory.
      schema:
        type: string
    SandboxUser:
      name: username
      in: query
      required: false
      description: User used for setting the owner, or resolving relative paths.
      schema:
        type: string
    SandboxSignature:
      name: signature
      in: query
      required: false
      description: Signature used for file access permission verification.
      schema:
        type: string
    SandboxSignatureExpiration:
      name: signature_expiration
      in: query
      required: false
      description: Signature expiration used for defining the expiration time of the signature.
      schema:
        type: integer
  responses:
    '400':
      description: Bad request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    '401':
      description: Authentication error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    '403':
      description: Forbidden
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    '404':
      description: Not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    '409':
      description: Conflict
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    '500':
      description: Server error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    SandboxUploadSuccess:
      description: The file was uploaded successfully.
      content:
        application/json:
          schema:
            type: array
            items:
              $ref: '#/components/schemas/SandboxEntryInfo'
    SandboxDownloadSuccess:
      description: Entire file downloaded successfully.
      content:
        application/octet-stream:
          schema:
            type: string
            format: binary
            description: The file content
    SandboxInvalidPath:
      description: Invalid path
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    SandboxInternalServerError:
      description: Internal server error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    SandboxFileNotFound:
      description: File not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    SandboxInvalidUser:
      description: Invalid user
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    SandboxNotEnoughDiskSpace:
      description: Not enough disk space
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    Team:
      required:
        - teamID
        - name
        - apiKey
        - isDefault
      properties:
        teamID:
          type: string
          description: Identifier of the team
        name:
          type: string
          description: Name of the team
        apiKey:
          type: string
          description: API key for the team
        isDefault:
          type: boolean
          description: Whether the team is the default team
    TeamUser:
      required:
        - id
        - email
      properties:
        id:
          type: string
          format: uuid
          description: Identifier of the user
        email:
          type: string
          description: Email of the user
    TemplateUpdateRequest:
      properties:
        public:
          type: boolean
          description: Whether the template is public or only accessible by the team
    TemplateUpdateResponse:
      required:
        - names
      properties:
        names:
          type: array
          description: Names of the template (namespace/alias format when namespaced)
          items:
            type: string
    CPUCount:
      type: integer
      format: int32
      minimum: 1
      description: CPU cores for the sandbox
    MemoryMB:
      type: integer
      format: int32
      minimum: 128
      description: Memory for the sandbox in MiB
    DiskSizeMB:
      type: integer
      format: int32
      minimum: 0
      description: Disk size for the sandbox in MiB
    EnvdVersion:
      type: string
      description: Version of the envd running in the sandbox
    SandboxMetadata:
      additionalProperties:
        type: string
        description: Metadata of the sandbox
    SandboxState:
      type: string
      description: State of the sandbox
      enum:
        - running
        - paused
    EnvVars:
      additionalProperties:
        type: string
        description: Environment variables for the sandbox
    Mcp:
      type: object
      description: MCP configuration for the sandbox
      additionalProperties: {}
      nullable: true
    SandboxNetworkConfig:
      type: object
      properties:
        allowPublicTraffic:
          type: boolean
          default: true
          description: Specify if the sandbox URLs should be accessible only with authentication.
        allowOut:
          type: array
          description: List of allowed CIDR blocks or IP addresses for egress traffic. Allowed addresses always take precedence over blocked addresses.
          items:
            type: string
        denyOut:
          type: array
          description: List of denied CIDR blocks or IP addresses for egress traffic
          items:
            type: string
        maskRequestHost:
          type: string
          description: Specify host mask which will be used for all sandbox requests
    SandboxLog:
      description: Log entry with timestamp and line
      required:
        - timestamp
        - line
      properties:
        timestamp:
          type: string
          format: date-time
          description: Timestamp of the log entry
        line:
          type: string
          description: Log line content
    SandboxLogEntry:
      required:
        - timestamp
        - level
        - message
        - fields
      properties:
        timestamp:
          type: string
          format: date-time
          description: Timestamp of the log entry
        message:
          type: string
          description: Log message content
        level:
          $ref: '#/components/schemas/SandboxLogLevel'
        fields:
          type: object
          additionalProperties:
            type: string
    SandboxLogs:
      required:
        - logs
        - logEntries
      properties:
        logs:
          description: Logs of the sandbox
          type: array
          items:
            $ref: '#/components/schemas/SandboxSandboxLog'
        logEntries:
          description: Structured logs of the sandbox
          type: array
          items:
            $ref: '#/components/schemas/SandboxSandboxLogEntry'
    SandboxMetric:
      description: Metric entry with timestamp and line
      required:
        - timestamp
        - timestampUnix
        - cpuCount
        - cpuUsedPct
        - memUsed
        - memTotal
        - diskUsed
        - diskTotal
      properties:
        timestamp:
          type: string
          format: date-time
          deprecated: true
          description: Timestamp of the metric entry
        timestampUnix:
          type: integer
          format: int64
          description: Timestamp of the metric entry in Unix time (seconds since epoch)
        cpuCount:
          type: integer
          format: int32
          description: Number of CPU cores
        cpuUsedPct:
          type: number
          format: float
          description: CPU usage percentage
        memUsed:
          type: integer
          format: int64
          description: Memory used in bytes
        memTotal:
          type: integer
          format: int64
          description: Total memory in bytes
        diskUsed:
          type: integer
          format: int64
          description: Disk used in bytes
        diskTotal:
          type: integer
          format: int64
          description: Total disk space in bytes
    Sandbox:
      required:
        - templateID
        - sandboxID
        - clientID
        - envdVersion
      properties:
        templateID:
          type: string
          description: Identifier of the template from which is the sandbox created
        sandboxID:
          type: string
          description: Identifier of the sandbox
        alias:
          type: string
          description: Alias of the template
        clientID:
          type: string
          deprecated: true
          description: Identifier of the client
        envdVersion:
          $ref: '#/components/schemas/SandboxEnvdVersion'
        envdAccessToken:
          type: string
          description: Access token used for envd communication
        trafficAccessToken:
          type: string
          nullable: true
          description: Token required for accessing sandbox via proxy.
        domain:
          type: string
          nullable: true
          description: Base domain where the sandbox traffic is accessible
    SandboxDetail:
      required:
        - templateID
        - sandboxID
        - clientID
        - startedAt
        - cpuCount
        - memoryMB
        - diskSizeMB
        - endAt
        - state
        - envdVersion
      properties:
        templateID:
          type: string
          description: Identifier of the template from which is the sandbox created
        alias:
          type: string
          description: Alias of the template
        sandboxID:
          type: string
          description: Identifier of the sandbox
        clientID:
          type: string
          deprecated: true
          description: Identifier of the client
        startedAt:
          type: string
          format: date-time
          description: Time when the sandbox was started
        endAt:
          type: string
          format: date-time
          description: Time when the sandbox will expire
        envdVersion:
          $ref: '#/components/schemas/SandboxEnvdVersion'
        envdAccessToken:
          type: string
          description: Access token used for envd communication
        domain:
          type: string
          nullable: true
          description: Base domain where the sandbox traffic is accessible
        cpuCount:
          $ref: '#/components/schemas/SandboxCPUCount'
        memoryMB:
          $ref: '#/components/schemas/SandboxMemoryMB'
        diskSizeMB:
          $ref: '#/components/schemas/SandboxDiskSizeMB'
        metadata:
          $ref: '#/components/schemas/SandboxSandboxMetadata'
        state:
          $ref: '#/components/schemas/SandboxSandboxState'
    ListedSandbox:
      required:
        - templateID
        - sandboxID
        - clientID
        - startedAt
        - cpuCount
        - memoryMB
        - diskSizeMB
        - endAt
        - state
        - envdVersion
      properties:
        templateID:
          type: string
          description: Identifier of the template from which is the sandbox created
        alias:
          type: string
          description: Alias of the template
        sandboxID:
          type: string
          description: Identifier of the sandbox
        clientID:
          type: string
          deprecated: true
          description: Identifier of the client
        startedAt:
          type: string
          format: date-time
          description: Time when the sandbox was started
        endAt:
          type: string
          format: date-time
          description: Time when the sandbox will expire
        cpuCount:
          $ref: '#/components/schemas/CPUCount'
        memoryMB:
          $ref: '#/components/schemas/MemoryMB'
        diskSizeMB:
          $ref: '#/components/schemas/DiskSizeMB'
        metadata:
          $ref: '#/components/schemas/SandboxMetadata'
        state:
          $ref: '#/components/schemas/SandboxState'
        envdVersion:
          $ref: '#/components/schemas/EnvdVersion'
    SandboxesWithMetrics:
      required:
        - sandboxes
      properties:
        sandboxes:
          additionalProperties:
            $ref: '#/components/schemas/SandboxSandboxMetric'
    NewSandbox:
      required:
        - templateID
      properties:
        templateID:
          type: string
          description: Identifier of the required template
        timeout:
          type: integer
          format: int32
          minimum: 0
          default: 15
          description: Time to live for the sandbox in seconds.
        autoPause:
          type: boolean
          default: false
          description: Automatically pauses the sandbox after the timeout
        secure:
          type: boolean
          description: Secure all system communication with sandbox
        allow_internet_access:
          type: boolean
          description: Allow sandbox to access the internet. When set to false, it behaves the same as specifying denyOut to 0.0.0.0/0 in the network config.
        network:
          $ref: '#/components/schemas/SandboxNetworkConfig'
        metadata:
          $ref: '#/components/schemas/SandboxMetadata'
        envVars:
          $ref: '#/components/schemas/EnvVars'
        mcp:
          $ref: '#/components/schemas/Mcp'
    ResumedSandbox:
      properties:
        timeout:
          type: integer
          format: int32
          minimum: 0
          default: 15
          description: Time to live for the sandbox in seconds.
        autoPause:
          type: boolean
          deprecated: true
          description: Automatically pauses the sandbox after the timeout
    ConnectSandbox:
      type: object
      required:
        - timeout
      properties:
        timeout:
          description: Timeout in seconds from the current time after which the sandbox should expire
          type: integer
          format: int32
          minimum: 0
    TeamMetric:
      description: Team metric with timestamp
      required:
        - timestamp
        - timestampUnix
        - concurrentSandboxes
        - sandboxStartRate
      properties:
        timestamp:
          type: string
          format: date-time
          deprecated: true
          description: Timestamp of the metric entry
        timestampUnix:
          type: integer
          format: int64
          description: Timestamp of the metric entry in Unix time (seconds since epoch)
        concurrentSandboxes:
          type: integer
          format: int32
          description: The number of concurrent sandboxes for the team
        sandboxStartRate:
          type: number
          format: float
          description: Number of sandboxes started per second
    MaxTeamMetric:
      description: Team metric with timestamp
      required:
        - timestamp
        - timestampUnix
        - value
      properties:
        timestamp:
          type: string
          format: date-time
          deprecated: true
          description: Timestamp of the metric entry
        timestampUnix:
          type: integer
          format: int64
          description: Timestamp of the metric entry in Unix time (seconds since epoch)
        value:
          type: number
          description: The maximum value of the requested metric in the given interval
    AdminSandboxKillResult:
      required:
        - killedCount
        - failedCount
      properties:
        killedCount:
          type: integer
          description: Number of sandboxes successfully killed
        failedCount:
          type: integer
          description: Number of sandboxes that failed to kill
    Template:
      required:
        - templateID
        - buildID
        - cpuCount
        - memoryMB
        - diskSizeMB
        - public
        - createdAt
        - updatedAt
        - createdBy
        - lastSpawnedAt
        - spawnCount
        - buildCount
        - envdVersion
        - aliases
        - names
        - buildStatus
      properties:
        templateID:
          type: string
          description: Identifier of the template
        buildID:
          type: string
          description: Identifier of the last successful build for given template
        cpuCount:
          $ref: '#/components/schemas/CPUCount'
        memoryMB:
          $ref: '#/components/schemas/MemoryMB'
        diskSizeMB:
          $ref: '#/components/schemas/DiskSizeMB'
        public:
          type: boolean
          description: Whether the template is public or only accessible by the team
        aliases:
          type: array
          description: Aliases of the template
          deprecated: true
          items:
            type: string
        names:
          type: array
          description: Names of the template (namespace/alias format when namespaced)
          items:
            type: string
        createdAt:
          type: string
          format: date-time
          description: Time when the template was created
        updatedAt:
          type: string
          format: date-time
          description: Time when the template was last updated
        createdBy:
          allOf:
            - $ref: '#/components/schemas/TeamUser'
          nullable: true
        lastSpawnedAt:
          type: string
          nullable: true
          format: date-time
          description: Time when the template was last used
        spawnCount:
          type: integer
          format: int64
          description: Number of times the template was used
        buildCount:
          type: integer
          format: int32
          description: Number of times the template was built
        envdVersion:
          $ref: '#/components/schemas/EnvdVersion'
        buildStatus:
          $ref: '#/components/schemas/TemplateBuildStatus'
    TemplateRequestResponseV3:
      required:
        - templateID
        - buildID
        - public
        - aliases
        - names
        - tags
      properties:
        templateID:
          type: string
          description: Identifier of the template
        buildID:
          type: string
          description: Identifier of the last successful build for given template
        public:
          type: boolean
          description: Whether the template is public or only accessible by the team
        names:
          type: array
          description: Names of the template
          items:
            type: string
        tags:
          type: array
          description: Tags assigned to the template build
          items:
            type: string
        aliases:
          type: array
          description: Aliases of the template
          deprecated: true
          items:
            type: string
    TemplateLegacy:
      required:
        - templateID
        - buildID
        - cpuCount
        - memoryMB
        - diskSizeMB
        - public
        - createdAt
        - updatedAt
        - createdBy
        - lastSpawnedAt
        - spawnCount
        - buildCount
        - envdVersion
        - aliases
      properties:
        templateID:
          type: string
          description: Identifier of the template
        buildID:
          type: string
          description: Identifier of the last successful build for given template
        cpuCount:
          $ref: '#/components/schemas/CPUCount'
        memoryMB:
          $ref: '#/components/schemas/MemoryMB'
        diskSizeMB:
          $ref: '#/components/schemas/DiskSizeMB'
        public:
          type: boolean
          description: Whether the template is public or only accessible by the team
        aliases:
          type: array
          description: Aliases of the template
          items:
            type: string
        createdAt:
          type: string
          format: date-time
          description: Time when the template was created
        updatedAt:
          type: string
          format: date-time
          description: Time when the template was last updated
        createdBy:
          allOf:
            - $ref: '#/components/schemas/TeamUser'
          nullable: true
        lastSpawnedAt:
          type: string
          nullable: true
          format: date-time
          description: Time when the template was last used
        spawnCount:
          type: integer
          format: int64
          description: Number of times the template was used
        buildCount:
          type: integer
          format: int32
          description: Number of times the template was built
        envdVersion:
          $ref: '#/components/schemas/EnvdVersion'
    TemplateBuild:
      required:
        - buildID
        - status
        - createdAt
        - updatedAt
        - cpuCount
        - memoryMB
      properties:
        buildID:
          type: string
          format: uuid
          description: Identifier of the build
        status:
          $ref: '#/components/schemas/TemplateBuildStatus'
        createdAt:
          type: string
          format: date-time
          description: Time when the build was created
        updatedAt:
          type: string
          format: date-time
          description: Time when the build was last updated
        finishedAt:
          type: string
          format: date-time
          description: Time when the build was finished
        cpuCount:
          $ref: '#/components/schemas/CPUCount'
        memoryMB:
          $ref: '#/components/schemas/MemoryMB'
        diskSizeMB:
          $ref: '#/components/schemas/DiskSizeMB'
        envdVersion:
          $ref: '#/components/schemas/EnvdVersion'
    TemplateWithBuilds:
      required:
        - templateID
        - public
        - aliases
        - names
        - createdAt
        - updatedAt
        - lastSpawnedAt
        - spawnCount
        - builds
      properties:
        templateID:
          type: string
          description: Identifier of the template
        public:
          type: boolean
          description: Whether the template is public or only accessible by the team
        aliases:
          type: array
          description: Aliases of the template
          deprecated: true
          items:
            type: string
        names:
          type: array
          description: Names of the template (namespace/alias format when namespaced)
          items:
            type: string
        createdAt:
          type: string
          format: date-time
          description: Time when the template was created
        updatedAt:
          type: string
          format: date-time
          description: Time when the template was last updated
        lastSpawnedAt:
          type: string
          nullable: true
          format: date-time
          description: Time when the template was last used
        spawnCount:
          type: integer
          format: int64
          description: Number of times the template was used
        builds:
          type: array
          description: List of builds for the template
          items:
            $ref: '#/components/schemas/TemplateBuild'
    TemplateAliasResponse:
      required:
        - templateID
        - public
      properties:
        templateID:
          type: string
          description: Identifier of the template
        public:
          type: boolean
          description: Whether the template is public or only accessible by the team
    TemplateBuildRequest:
      required:
        - dockerfile
      properties:
        alias:
          description: Alias of the template
          type: string
        dockerfile:
          description: Dockerfile for the template
          type: string
        teamID:
          type: string
          description: Identifier of the team
        startCmd:
          description: Start command to execute in the template after the build
          type: string
        readyCmd:
          description: Ready check command to execute in the template after the build
          type: string
        cpuCount:
          $ref: '#/components/schemas/CPUCount'
        memoryMB:
          $ref: '#/components/schemas/MemoryMB'
    TemplateStep:
      description: Step in the template build process
      required:
        - type
      properties:
        type:
          type: string
          description: Type of the step
        args:
          default: []
          type: array
          description: Arguments for the step
          items:
            type: string
        filesHash:
          type: string
          description: Hash of the files used in the step
        force:
          default: false
          type: boolean
          description: Whether the step should be forced to run regardless of the cache
    TemplateBuildRequestV3:
      properties:
        name:
          description: Name of the template. Can include a tag with colon separator (e.g. "my-template" or "my-template:v1"). If tag is included, it will be treated as if the tag was provided in the tags array.
          type: string
        tags:
          type: array
          description: Tags to assign to the template build
          items:
            type: string
        alias:
          description: Alias of the template. Deprecated, use name instead.
          type: string
          deprecated: true
        teamID:
          deprecated: true
          type: string
          description: Identifier of the team
        cpuCount:
          $ref: '#/components/schemas/CPUCount'
        memoryMB:
          $ref: '#/components/schemas/MemoryMB'
    TemplateBuildRequestV2:
      required:
        - alias
      properties:
        alias:
          description: Alias of the template
          type: string
        teamID:
          deprecated: true
          type: string
          description: Identifier of the team
        cpuCount:
          $ref: '#/components/schemas/CPUCount'
        memoryMB:
          $ref: '#/components/schemas/MemoryMB'
    FromImageRegistry:
      oneOf:
        - $ref: '#/components/schemas/AWSRegistry'
        - $ref: '#/components/schemas/GCPRegistry'
        - $ref: '#/components/schemas/GeneralRegistry'
      discriminator:
        propertyName: type
        mapping:
          aws: '#/components/schemas/AWSRegistry'
          gcp: '#/components/schemas/GCPRegistry'
          registry: '#/components/schemas/GeneralRegistry'
    AWSRegistry:
      type: object
      required:
        - type
        - awsAccessKeyId
        - awsSecretAccessKey
        - awsRegion
      properties:
        type:
          type: string
          enum:
            - aws
          description: Type of registry authentication
        awsAccessKeyId:
          type: string
          description: AWS Access Key ID for ECR authentication
        awsSecretAccessKey:
          type: string
          description: AWS Secret Access Key for ECR authentication
        awsRegion:
          type: string
          description: AWS Region where the ECR registry is located
    GCPRegistry:
      type: object
      required:
        - type
        - serviceAccountJson
      properties:
        type:
          type: string
          enum:
            - gcp
          description: Type of registry authentication
        serviceAccountJson:
          type: string
          description: Service Account JSON for GCP authentication
    GeneralRegistry:
      type: object
      required:
        - type
        - username
        - password
      properties:
        type:
          type: string
          enum:
            - registry
          description: Type of registry authentication
        username:
          type: string
          description: Username to use for the registry
        password:
          type: string
          description: Password to use for the registry
    TemplateBuildStartV2:
      type: object
      properties:
        fromImage:
          type: string
          description: Image to use as a base for the template build
        fromTemplate:
          type: string
          description: Template to use as a base for the template build
        fromImageRegistry:
          $ref: '#/components/schemas/FromImageRegistry'
        force:
          default: false
          type: boolean
          description: Whether the whole build should be forced to run regardless of the cache
        steps:
          default: []
          description: List of steps to execute in the template build
          type: array
          items:
            $ref: '#/components/schemas/TemplateStep'
        startCmd:
          description: Start command to execute in the template after the build
          type: string
        readyCmd:
          description: Ready check command to execute in the template after the build
          type: string
    TemplateBuildFileUpload:
      required:
        - present
      properties:
        present:
          type: boolean
          description: Whether the file is already present in the cache
        url:
          description: Url where the file should be uploaded to
          type: string
    LogLevel:
      type: string
      description: State of the sandbox
      enum:
        - debug
        - info
        - warn
        - error
    BuildLogEntry:
      required:
        - timestamp
        - message
        - level
      properties:
        timestamp:
          type: string
          format: date-time
          description: Timestamp of the log entry
        message:
          type: string
          description: Log message content
        level:
          $ref: '#/components/schemas/LogLevel'
        step:
          type: string
          description: Step in the build process related to the log entry
    BuildStatusReason:
      required:
        - message
      properties:
        message:
          type: string
          description: Message with the status reason, currently reporting only for error status
        step:
          type: string
          description: Step that failed
        logEntries:
          default: []
          description: Log entries related to the status reason
          type: array
          items:
            $ref: '#/components/schemas/BuildLogEntry'
    TemplateBuildStatus:
      type: string
      description: Status of the template build
      enum:
        - building
        - waiting
        - ready
        - error
    TemplateBuildInfo:
      required:
        - templateID
        - buildID
        - status
        - logs
        - logEntries
      properties:
        logs:
          default: []
          description: Build logs
          type: array
          items:
            type: string
        logEntries:
          default: []
          description: Build logs structured
          type: array
          items:
            $ref: '#/components/schemas/BuildLogEntry'
        templateID:
          type: string
          description: Identifier of the template
        buildID:
          type: string
          description: Identifier of the build
        status:
          $ref: '#/components/schemas/TemplateBuildStatus'
        reason:
          $ref: '#/components/schemas/BuildStatusReason'
    TemplateBuildLogsResponse:
      required:
        - logs
      properties:
        logs:
          default: []
          description: Build logs structured
          type: array
          items:
            $ref: '#/components/schemas/BuildLogEntry'
    LogsDirection:
      type: string
      description: Direction of the logs that should be returned
      enum:
        - forward
        - backward
      x-enum-varnames:
        - LogsDirectionForward
        - LogsDirectionBackward
    LogsSource:
      type: string
      description: Source of the logs that should be returned
      enum:
        - temporary
        - persistent
      x-enum-varnames:
        - LogsSourceTemporary
        - LogsSourcePersistent
    NodeStatus:
      type: string
      description: Status of the node
      enum:
        - ready
        - draining
        - connecting
        - unhealthy
      x-enum-varnames:
        - NodeStatusReady
        - NodeStatusDraining
        - NodeStatusConnecting
        - NodeStatusUnhealthy
    NodeStatusChange:
      required:
        - status
      properties:
        clusterID:
          type: string
          format: uuid
          description: Identifier of the cluster
        status:
          $ref: '#/components/schemas/NodeStatus'
    DiskMetrics:
      required:
        - mountPoint
        - device
        - filesystemType
        - usedBytes
        - totalBytes
      properties:
        mountPoint:
          type: string
          description: Mount point of the disk
        device:
          type: string
          description: Device name
        filesystemType:
          type: string
          description: Filesystem type (e.g., ext4, xfs)
        usedBytes:
          type: integer
          format: uint64
          description: Used space in bytes
        totalBytes:
          type: integer
          format: uint64
          description: Total space in bytes
    NodeMetrics:
      description: Node metrics
      required:
        - allocatedCPU
        - allocatedMemoryBytes
        - cpuPercent
        - memoryUsedBytes
        - cpuCount
        - memoryTotalBytes
        - disks
      properties:
        allocatedCPU:
          type: integer
          format: uint32
          description: Number of allocated CPU cores
        cpuPercent:
          type: integer
          format: uint32
          description: Node CPU usage percentage
        cpuCount:
          type: integer
          format: uint32
          description: Total number of CPU cores on the node
        allocatedMemoryBytes:
          type: integer
          format: uint64
          description: Amount of allocated memory in bytes
        memoryUsedBytes:
          type: integer
          format: uint64
          description: Node memory used in bytes
        memoryTotalBytes:
          type: integer
          format: uint64
          description: Total node memory in bytes
        disks:
          type: array
          description: Detailed metrics for each disk/mount point
          items:
            $ref: '#/components/schemas/DiskMetrics'
    MachineInfo:
      required:
        - cpuFamily
        - cpuModel
        - cpuModelName
        - cpuArchitecture
      properties:
        cpuFamily:
          type: string
          description: CPU family of the node
        cpuModel:
          type: string
          description: CPU model of the node
        cpuModelName:
          type: string
          description: CPU model name of the node
        cpuArchitecture:
          type: string
          description: CPU architecture of the node
    Node:
      required:
        - nodeID
        - id
        - serviceInstanceID
        - clusterID
        - status
        - sandboxCount
        - metrics
        - createSuccesses
        - createFails
        - sandboxStartingCount
        - version
        - commit
        - machineInfo
      properties:
        version:
          type: string
          description: Version of the orchestrator
        commit:
          type: string
          description: Commit of the orchestrator
        nodeID:
          type: string
          deprecated: true
          description: Identifier of the nomad node
        id:
          type: string
          description: Identifier of the node
        serviceInstanceID:
          type: string
          description: Service instance identifier of the node
        clusterID:
          type: string
          description: Identifier of the cluster
        machineInfo:
          $ref: '#/components/schemas/MachineInfo'
        status:
          $ref: '#/components/schemas/NodeStatus'
        sandboxCount:
          type: integer
          format: uint32
          description: Number of sandboxes running on the node
        metrics:
          $ref: '#/components/schemas/NodeMetrics'
        createSuccesses:
          type: integer
          format: uint64
          description: Number of sandbox create successes
        createFails:
          type: integer
          format: uint64
          description: Number of sandbox create fails
        sandboxStartingCount:
          type: integer
          format: int
          description: Number of starting Sandboxes
    NodeDetail:
      required:
        - nodeID
        - id
        - serviceInstanceID
        - clusterID
        - status
        - sandboxes
        - cachedBuilds
        - createSuccesses
        - createFails
        - version
        - commit
        - metrics
        - machineInfo
      properties:
        clusterID:
          type: string
          description: Identifier of the cluster
        version:
          type: string
          description: Version of the orchestrator
        commit:
          type: string
          description: Commit of the orchestrator
        id:
          type: string
          description: Identifier of the node
        serviceInstanceID:
          type: string
          description: Service instance identifier of the node
        nodeID:
          type: string
          deprecated: true
          description: Identifier of the nomad node
        machineInfo:
          $ref: '#/components/schemas/MachineInfo'
        status:
          $ref: '#/components/schemas/NodeStatus'
        sandboxes:
          type: array
          description: List of sandboxes running on the node
          items:
            $ref: '#/components/schemas/ListedSandbox'
        metrics:
          $ref: '#/components/schemas/NodeMetrics'
        cachedBuilds:
          type: array
          description: List of cached builds id on the node
          items:
            type: string
        createSuccesses:
          type: integer
          format: uint64
          description: Number of sandbox create successes
        createFails:
          type: integer
          format: uint64
          description: Number of sandbox create fails
    CreatedAccessToken:
      required:
        - id
        - name
        - token
        - mask
        - createdAt
      properties:
        id:
          type: string
          format: uuid
          description: Identifier of the access token
        name:
          type: string
          description: Name of the access token
        token:
          type: string
          description: The fully created access token
        mask:
          $ref: '#/components/schemas/IdentifierMaskingDetails'
        createdAt:
          type: string
          format: date-time
          description: Timestamp of access token creation
    NewAccessToken:
      required:
        - name
      properties:
        name:
          type: string
          description: Name of the access token
    TeamAPIKey:
      required:
        - id
        - name
        - mask
        - createdAt
      properties:
        id:
          type: string
          format: uuid
          description: Identifier of the API key
        name:
          type: string
          description: Name of the API key
        mask:
          $ref: '#/components/schemas/IdentifierMaskingDetails'
        createdAt:
          type: string
          format: date-time
          description: Timestamp of API key creation
        createdBy:
          allOf:
            - $ref: '#/components/schemas/TeamUser'
          nullable: true
        lastUsed:
          type: string
          format: date-time
          description: Last time this API key was used
          nullable: true
    CreatedTeamAPIKey:
      required:
        - id
        - key
        - mask
        - name
        - createdAt
      properties:
        id:
          type: string
          format: uuid
          description: Identifier of the API key
        key:
          type: string
          description: Raw value of the API key
        mask:
          $ref: '#/components/schemas/IdentifierMaskingDetails'
        name:
          type: string
          description: Name of the API key
        createdAt:
          type: string
          format: date-time
          description: Timestamp of API key creation
        createdBy:
          allOf:
            - $ref: '#/components/schemas/TeamUser'
          nullable: true
        lastUsed:
          type: string
          format: date-time
          description: Last time this API key was used
          nullable: true
    NewTeamAPIKey:
      required:
        - name
      properties:
        name:
          type: string
          description: Name of the API key
    UpdateTeamAPIKey:
      required:
        - name
      properties:
        name:
          type: string
          description: New name for the API key
    AssignedTemplateTags:
      required:
        - tags
        - buildID
      properties:
        tags:
          type: array
          items:
            type: string
          description: Assigned tags of the template
        buildID:
          type: string
          format: uuid
          description: Identifier of the build associated with these tags
    AssignTemplateTagsRequest:
      required:
        - target
        - tags
      properties:
        target:
          type: string
          description: Target template in "name:tag" format
        tags:
          description: Tags to assign to the template
          type: array
          items:
            type: string
    DeleteTemplateTagsRequest:
      required:
        - name
        - tags
      properties:
        name:
          type: string
          description: Name of the template
        tags:
          description: Tags to delete
          type: array
          items:
            type: string
    Error:
      required:
        - code
        - message
      properties:
        code:
          type: integer
          format: int32
          description: Error code
        message:
          type: string
          description: Error
    IdentifierMaskingDetails:
      required:
        - prefix
        - valueLength
        - maskedValuePrefix
        - maskedValueSuffix
      properties:
        prefix:
          type: string
          description: Prefix that identifies the token or key type
        valueLength:
          type: integer
          description: Length of the token or key
        maskedValuePrefix:
          type: string
          description: Prefix used in masked version of the token or key
        maskedValueSuffix:
          type: string
          description: Suffix used in masked version of the token or key
    SandboxError:
      required:
        - message
        - code
      properties:
        message:
          type: string
          description: Error message
        code:
          type: integer
          description: Error code
    SandboxEntryInfo:
      required:
        - path
        - name
        - type
      properties:
        path:
          type: string
          description: Path to the file
        name:
          type: string
          description: Name of the file
        type:
          type: string
          description: Type of the file
          enum:
            - file
    SandboxEnvVars:
      type: object
      description: Environment variables to set
      additionalProperties:
        type: string
    SandboxMetrics:
      type: object
      description: Resource usage metrics
      properties:
        ts:
          type: integer
          format: int64
          description: Unix timestamp in UTC for current sandbox time
        cpu_count:
          type: integer
          description: Number of CPU cores
        cpu_used_pct:
          type: number
          format: float
          description: CPU usage percentage
        mem_total:
          type: integer
          description: Total virtual memory in bytes
        mem_used:
          type: integer
          description: Used virtual memory in bytes
        disk_used:
          type: integer
          description: Used disk space in bytes
        disk_total:
          type: integer
          description: Total disk space in bytes
    Sandboxconnect.error_details.Any:
      type: object
      properties:
        type:
          type: string
          description: 'A URL that acts as a globally unique identifier for the type of the serialized message. For example: `type.googleapis.com/google.rpc.ErrorInfo`. This is used to determine the schema of the data in the `value` field and is the discriminator for the `debug` field.'
        value:
          type: string
          format: binary
          description: The Protobuf message, serialized as bytes and base64-encoded. The specific message type is identified by the `type` field.
        debug:
          oneOf:
            - type: object
              title: Any
              additionalProperties: true
              description: Detailed error information.
          discriminator:
            propertyName: type
          title: Debug
          description: Deserialized error detail payload. The 'type' field indicates the schema. This field is for easier debugging and should not be relied upon for application logic.
      additionalProperties: true
      description: Contains an arbitrary serialized message along with a @type that describes the type of the serialized message, with an additional debug field for ConnectRPC error details.
    Sandboxfilesystem.CreateWatcherRequest:
      type: object
      properties:
        path:
          type: string
          title: path
        recursive:
          type: boolean
          title: recursive
      title: CreateWatcherRequest
      additionalProperties: false
    Sandboxfilesystem.CreateWatcherResponse:
      type: object
      properties:
        watcherId:
          type: string
          title: watcher_id
      title: CreateWatcherResponse
      additionalProperties: false
    Sandboxfilesystem.EntryInfo:
      type: object
      properties:
        name:
          type: string
          title: name
        type:
          title: type
          $ref: '#/components/schemas/Sandboxfilesystem.FileType'
        path:
          type: string
          title: path
        size:
          type: integer
          title: size
          format: int64
        mode:
          type: integer
          title: mode
        permissions:
          type: string
          title: permissions
        owner:
          type: string
          title: owner
        group:
          type: string
          title: group
        modifiedTime:
          title: modified_time
          $ref: '#/components/schemas/Sandboxgoogle.protobuf.Timestamp'
        symlinkTarget:
          type: string
          title: symlink_target
          description: If the entry is a symlink, this field contains the target of the symlink.
      title: EntryInfo
      additionalProperties: false
    Sandboxfilesystem.EventType:
      type: string
      title: EventType
      enum:
        - EVENT_TYPE_UNSPECIFIED
        - EVENT_TYPE_CREATE
        - EVENT_TYPE_WRITE
        - EVENT_TYPE_REMOVE
        - EVENT_TYPE_RENAME
        - EVENT_TYPE_CHMOD
    Sandboxfilesystem.FileType:
      type: string
      title: FileType
      enum:
        - FILE_TYPE_UNSPECIFIED
        - FILE_TYPE_FILE
        - FILE_TYPE_DIRECTORY
    Sandboxfilesystem.FilesystemEvent:
      type: object
      properties:
        name:
          type: string
          title: name
        type:
          title: type
          $ref: '#/components/schemas/Sandboxfilesystem.EventType'
      title: FilesystemEvent
      additionalProperties: false
    Sandboxfilesystem.GetWatcherEventsRequest:
      type: object
      properties:
        watcherId:
          type: string
          title: watcher_id
      title: GetWatcherEventsRequest
      additionalProperties: false
    Sandboxfilesystem.GetWatcherEventsResponse:
      type: object
      properties:
        events:
          type: array
          items:
            $ref: '#/components/schemas/Sandboxfilesystem.FilesystemEvent'
          title: events
      title: GetWatcherEventsResponse
      additionalProperties: false
    Sandboxfilesystem.ListDirRequest:
      type: object
      properties:
        path:
          type: string
          title: path
        depth:
          type: integer
          title: depth
      title: ListDirRequest
      additionalProperties: false
    Sandboxfilesystem.ListDirResponse:
      type: object
      properties:
        entries:
          type: array
          items:
            $ref: '#/components/schemas/Sandboxfilesystem.EntryInfo'
          title: entries
      title: ListDirResponse
      additionalProperties: false
    Sandboxfilesystem.MakeDirRequest:
      type: object
      properties:
        path:
          type: string
          title: path
      title: MakeDirRequest
      additionalProperties: false
    Sandboxfilesystem.MakeDirResponse:
      type: object
      properties:
        entry:
          title: entry
          $ref: '#/components/schemas/Sandboxfilesystem.EntryInfo'
      title: MakeDirResponse
      additionalProperties: false
    Sandboxfilesystem.MoveRequest:
      type: object
      properties:
        source:
          type: string
          title: source
        destination:
          type: string
          title: destination
      title: MoveRequest
      additionalProperties: false
    Sandboxfilesystem.MoveResponse:
      type: object
      properties:
        entry:
          title: entry
          $ref: '#/components/schemas/Sandboxfilesystem.EntryInfo'
      title: MoveResponse
      additionalProperties: false
    Sandboxfilesystem.RemoveRequest:
      type: object
      properties:
        path:
          type: string
          title: path
      title: RemoveRequest
      additionalProperties: false
    Sandboxfilesystem.RemoveResponse:
      type: object
      title: RemoveResponse
      additionalProperties: false
    Sandboxfilesystem.RemoveWatcherRequest:
      type: object
      properties:
        watcherId:
          type: string
          title: watcher_id
      title: RemoveWatcherRequest
      additionalProperties: false
    Sandboxfilesystem.RemoveWatcherResponse:
      type: object
      title: RemoveWatcherResponse
      additionalProperties: false
    Sandboxfilesystem.StatRequest:
      type: object
      properties:
        path:
          type: string
          title: path
      title: StatRequest
      additionalProperties: false
    Sandboxfilesystem.StatResponse:
      type: object
      properties:
        entry:
          title: entry
          $ref: '#/components/schemas/Sandboxfilesystem.EntryInfo'
      title: StatResponse
      additionalProperties: false
    Sandboxfilesystem.WatchDirRequest:
      type: object
      properties:
        path:
          type: string
          title: path
        recursive:
          type: boolean
          title: recursive
      title: WatchDirRequest
      additionalProperties: false
    Sandboxfilesystem.WatchDirResponse:
      type: object
      oneOf:
        - properties:
            filesystem:
              title: filesystem
              $ref: '#/components/schemas/Sandboxfilesystem.FilesystemEvent'
          title: filesystem
          required:
            - filesystem
        - properties:
            keepalive:
              title: keepalive
              $ref: '#/components/schemas/Sandboxfilesystem.WatchDirResponse.KeepAlive'
          title: keepalive
          required:
            - keepalive
        - properties:
            start:
              title: start
              $ref: '#/components/schemas/Sandboxfilesystem.WatchDirResponse.StartEvent'
          title: start
          required:
            - start
      title: WatchDirResponse
      additionalProperties: false
    Sandboxfilesystem.WatchDirResponse.KeepAlive:
      type: object
      title: KeepAlive
      additionalProperties: false
    Sandboxfilesystem.WatchDirResponse.StartEvent:
      type: object
      title: StartEvent
      additionalProperties: false
    Sandboxgoogle.protobuf.Timestamp:
      type: string
      format: date-time
      description: |-
        A Timestamp represents a point in time independent of any time zone or local
         calendar, encoded as a count of seconds and fractions of seconds at
         nanosecond resolution. The count is relative to an epoch at UTC midnight on
         January 1, 1970, in the proleptic Gregorian calendar which extends the
         Gregorian calendar backwards to year one.

         All minutes are 60 seconds long. Leap seconds are "smeared" so that no leap
         second table is needed for interpretation, using a [24-hour linear
         smear](https://developers.google.com/time/smear).

         The range is from 0001-01-01T00:00:00Z to 9999-12-31T23:59:59.999999999Z. By
         restricting to that range, we ensure that we can convert to and from [RFC
         3339](https://www.ietf.org/rfc/rfc3339.txt) date strings.

         # Examples

         Example 1: Compute Timestamp from POSIX `time()`.

             Timestamp timestamp;
             timestamp.set_seconds(time(NULL));
             timestamp.set_nanos(0);

         Example 2: Compute Timestamp from POSIX `gettimeofday()`.

             struct timeval tv;
             gettimeofday(&tv, NULL);

             Timestamp timestamp;
             timestamp.set_seconds(tv.tv_sec);
             timestamp.set_nanos(tv.tv_usec * 1000);

         Example 3: Compute Timestamp from Win32 `GetSystemTimeAsFileTime()`.

             FILETIME ft;
             GetSystemTimeAsFileTime(&ft);
             UINT64 ticks = (((UINT64)ft.dwHighDateTime) << 32) | ft.dwLowDateTime;

             // A Windows tick is 100 nanoseconds. Windows epoch 1601-01-01T00:00:00Z
             // is 11644473600 seconds before Unix epoch 1970-01-01T00:00:00Z.
             Timestamp timestamp;
             timestamp.set_seconds((INT64) ((ticks / 10000000) - 11644473600LL));
             timestamp.set_nanos((INT32) ((ticks % 10000000) * 100));

         Example 4: Compute Timestamp from Java `System.currentTimeMillis()`.

             long millis = System.currentTimeMillis();

             Timestamp timestamp = Timestamp.newBuilder().setSeconds(millis / 1000)
                 .setNanos((int) ((millis % 1000) * 1000000)).build();

         Example 5: Compute Timestamp from Java `Instant.now()`.

             Instant now = Instant.now();

             Timestamp timestamp =
                 Timestamp.newBuilder().setSeconds(now.getEpochSecond())
                     .setNanos(now.getNano()).build();

         Example 6: Compute Timestamp from current time in Python.

             timestamp = Timestamp()
             timestamp.GetCurrentTime()

         # JSON Mapping

         In JSON format, the Timestamp type is encoded as a string in the
         [RFC 3339](https://www.ietf.org/rfc/rfc3339.txt) format. That is, the
         format is "{year}-{month}-{day}T{hour}:{min}:{sec}[.{frac_sec}]Z"
         where {year} is always expressed using four digits while {month}, {day},
         {hour}, {min}, and {sec} are zero-padded to two digits each. The fractional
         seconds, which can go up to 9 digits (i.e. up to 1 nanosecond resolution),
         are optional. The "Z" suffix indicates the timezone ("UTC"); the timezone
         is required. A proto3 JSON serializer should always use UTC (as indicated by
         "Z") when printing the Timestamp type and a proto3 JSON parser should be
         able to accept both UTC and other timezones (as indicated by an offset).

         For example, "2017-01-15T01:30:15.01Z" encodes 15.01 seconds past
         01:30 UTC on January 15, 2017.

         In JavaScript, one can convert a Date object to this format using the
         standard
         [toISOString()](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Date/toISOString)
         method. In Python, a standard `datetime.datetime` object can be converted
         to this format using
         [`strftime`](https://docs.python.org/2/library/time.html#time.strftime) with
         the time format spec '%Y-%m-%dT%H:%M:%S.%fZ'. Likewise, in Java, one can use
         the Joda Time's [`ISODateTimeFormat.dateTime()`](
         http://joda-time.sourceforge.net/apidocs/org/joda/time/format/ISODateTimeFormat.html#dateTime()
         ) to obtain a formatter capable of generating timestamps in this format.
      example: '2023-01-15T01:30:15.01Z'
    Sandboxprocess.ConnectRequest:
      type: object
      properties:
        process:
          title: process
          $ref: '#/components/schemas/Sandboxprocess.ProcessSelector'
      title: ConnectRequest
      additionalProperties: false
    Sandboxprocess.ConnectResponse:
      type: object
      properties:
        event:
          title: event
          $ref: '#/components/schemas/Sandboxprocess.ProcessEvent'
      title: ConnectResponse
      additionalProperties: false
    Sandboxprocess.ListRequest:
      type: object
      title: ListRequest
      additionalProperties: false
    Sandboxprocess.ListResponse:
      type: object
      properties:
        processes:
          type: array
          items:
            $ref: '#/components/schemas/Sandboxprocess.ProcessInfo'
          title: processes
      title: ListResponse
      additionalProperties: false
    Sandboxprocess.PTY:
      type: object
      properties:
        size:
          title: size
          $ref: '#/components/schemas/Sandboxprocess.PTY.Size'
      title: PTY
      additionalProperties: false
    Sandboxprocess.PTY.Size:
      type: object
      properties:
        cols:
          type: integer
          title: cols
        rows:
          type: integer
          title: rows
      title: Size
      additionalProperties: false
    Sandboxprocess.ProcessConfig:
      type: object
      properties:
        cmd:
          type: string
          title: cmd
        args:
          type: array
          items:
            type: string
          title: args
        envs:
          type: object
          title: envs
          additionalProperties:
            type: string
            title: value
        cwd:
          type: string
          title: cwd
      title: ProcessConfig
      additionalProperties: false
    Sandboxprocess.ProcessConfig.EnvsEntry:
      type: object
      properties:
        key:
          type: string
          title: key
        value:
          type: string
          title: value
      title: EnvsEntry
      additionalProperties: false
    Sandboxprocess.ProcessEvent:
      type: object
      oneOf:
        - properties:
            data:
              title: data
              $ref: '#/components/schemas/Sandboxprocess.ProcessEvent.DataEvent'
          title: data
          required:
            - data
        - properties:
            end:
              title: end
              $ref: '#/components/schemas/Sandboxprocess.ProcessEvent.EndEvent'
          title: end
          required:
            - end
        - properties:
            keepalive:
              title: keepalive
              $ref: '#/components/schemas/Sandboxprocess.ProcessEvent.KeepAlive'
          title: keepalive
          required:
            - keepalive
        - properties:
            start:
              title: start
              $ref: '#/components/schemas/Sandboxprocess.ProcessEvent.StartEvent'
          title: start
          required:
            - start
      title: ProcessEvent
      additionalProperties: false
    Sandboxprocess.ProcessEvent.DataEvent:
      type: object
      oneOf:
        - properties:
            pty:
              type: string
              title: pty
              format: byte
          title: pty
          required:
            - pty
        - properties:
            stderr:
              type: string
              title: stderr
              format: byte
          title: stderr
          required:
            - stderr
        - properties:
            stdout:
              type: string
              title: stdout
              format: byte
          title: stdout
          required:
            - stdout
      title: DataEvent
      additionalProperties: false
    Sandboxprocess.ProcessEvent.EndEvent:
      type: object
      properties:
        exitCode:
          type: integer
          title: exit_code
          format: int32
        exited:
          type: boolean
          title: exited
        status:
          type: string
          title: status
        error:
          type: string
          title: error
      title: EndEvent
      additionalProperties: false
    Sandboxprocess.ProcessEvent.KeepAlive:
      type: object
      title: KeepAlive
      additionalProperties: false
    Sandboxprocess.ProcessEvent.StartEvent:
      type: object
      properties:
        pid:
          type: integer
          title: pid
      title: StartEvent
      additionalProperties: false
    Sandboxprocess.ProcessInfo:
      type: object
      properties:
        config:
          title: config
          $ref: '#/components/schemas/Sandboxprocess.ProcessConfig'
        pid:
          type: integer
          title: pid
        tag:
          type: string
          title: tag
      title: ProcessInfo
      additionalProperties: false
    Sandboxprocess.ProcessInput:
      type: object
      oneOf:
        - properties:
            pty:
              type: string
              title: pty
              format: byte
          title: pty
          required:
            - pty
        - properties:
            stdin:
              type: string
              title: stdin
              format: byte
          title: stdin
          required:
            - stdin
      title: ProcessInput
      additionalProperties: false
    Sandboxprocess.ProcessSelector:
      type: object
      oneOf:
        - properties:
            pid:
              type: integer
              title: pid
          title: pid
          required:
            - pid
        - properties:
            tag:
              type: string
              title: tag
          title: tag
          required:
            - tag
      title: ProcessSelector
      additionalProperties: false
    Sandboxprocess.SendInputRequest:
      type: object
      properties:
        process:
          title: process
          $ref: '#/components/schemas/Sandboxprocess.ProcessSelector'
        input:
          title: input
          $ref: '#/components/schemas/Sandboxprocess.ProcessInput'
      title: SendInputRequest
      additionalProperties: false
    Sandboxprocess.SendInputResponse:
      type: object
      title: SendInputResponse
      additionalProperties: false
    Sandboxprocess.SendSignalRequest:
      type: object
      properties:
        process:
          title: process
          $ref: '#/components/schemas/Sandboxprocess.ProcessSelector'
        signal:
          title: signal
          $ref: '#/components/schemas/Sandboxprocess.Signal'
      title: SendSignalRequest
      additionalProperties: false
    Sandboxprocess.SendSignalResponse:
      type: object
      title: SendSignalResponse
      additionalProperties: false
    Sandboxprocess.Signal:
      type: string
      title: Signal
      enum:
        - SIGNAL_UNSPECIFIED
        - SIGNAL_SIGTERM
        - SIGNAL_SIGKILL
    Sandboxprocess.StartRequest:
      type: object
      properties:
        process:
          title: process
          $ref: '#/components/schemas/Sandboxprocess.ProcessConfig'
        pty:
          title: pty
          nullable: true
          $ref: '#/components/schemas/Sandboxprocess.PTY'
        tag:
          type: string
          title: tag
        stdin:
          type: boolean
          title: stdin
          description: |-
            This is optional for backwards compatibility.
             We default to true. New SDK versions will set this to false by default.
      title: StartRequest
      additionalProperties: false
    Sandboxprocess.StartResponse:
      type: object
      properties:
        event:
          title: event
          $ref: '#/components/schemas/Sandboxprocess.ProcessEvent'
      title: StartResponse
      additionalProperties: false
    Sandboxprocess.StreamInputRequest:
      type: object
      oneOf:
        - properties:
            data:
              title: data
              $ref: '#/components/schemas/Sandboxprocess.StreamInputRequest.DataEvent'
          title: data
          required:
            - data
        - properties:
            keepalive:
              title: keepalive
              $ref: '#/components/schemas/Sandboxprocess.StreamInputRequest.KeepAlive'
          title: keepalive
          required:
            - keepalive
        - properties:
            start:
              title: start
              $ref: '#/components/schemas/Sandboxprocess.StreamInputRequest.StartEvent'
          title: start
          required:
            - start
      title: StreamInputRequest
      additionalProperties: false
    Sandboxprocess.StreamInputRequest.DataEvent:
      type: object
      properties:
        input:
          title: input
          $ref: '#/components/schemas/Sandboxprocess.ProcessInput'
      title: DataEvent
      additionalProperties: false
    Sandboxprocess.StreamInputRequest.KeepAlive:
      type: object
      title: KeepAlive
      additionalProperties: false
    Sandboxprocess.StreamInputRequest.StartEvent:
      type: object
      properties:
        process:
          title: process
          $ref: '#/components/schemas/Sandboxprocess.ProcessSelector'
      title: StartEvent
      additionalProperties: false
    Sandboxprocess.StreamInputResponse:
      type: object
      title: StreamInputResponse
      additionalProperties: false
    Sandboxprocess.UpdateRequest:
      type: object
      properties:
        process:
          title: process
          $ref: '#/components/schemas/Sandboxprocess.ProcessSelector'
        pty:
          title: pty
          nullable: true
          $ref: '#/components/schemas/Sandboxprocess.PTY'
      title: UpdateRequest
      additionalProperties: false
    Sandboxprocess.UpdateResponse:
      type: object
      title: UpdateResponse
      additionalProperties: false
  requestBodies:
    SandboxFile:
      required: true
      content:
        multipart/form-data:
          schema:
            type: object
            properties:
              file:
                type: string
                format: binary
tags:
  - name: templates
  - name: sandboxes
  - name: auth
  - name: access-tokens
  - name: api-keys
  - name: tags
  - name: Sandbox
    description: Sandbox initialization
  - name: Sandbox Files
    description: Upload and download files in sandbox
  - name: Sandbox Filesystem
    description: Filesystem operations (list, create, move, delete)
  - name: Sandbox Process
    description: Process management (start, stop, send input)
paths:
  /teams/{teamID}/metrics:
    get:
      description: Get metrics for the team
      tags:
        - auth
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/teamID'
        - in: query
          name: start
          schema:
            type: integer
            format: int64
            minimum: 0
          description: Unix timestamp for the start of the interval, in seconds, for which the metrics
        - in: query
          name: end
          schema:
            type: integer
            format: int64
            minimum: 0
            description: Unix timestamp for the end of the interval, in seconds, for which the metrics
      responses:
        '200':
          description: Successfully returned the team metrics
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TeamMetric'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '500':
          $ref: '#/components/responses/500'
  /teams/{teamID}/metrics/max:
    get:
      description: Get the maximum metrics for the team in the given interval
      tags:
        - auth
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/teamID'
        - in: query
          name: start
          schema:
            type: integer
            format: int64
            minimum: 0
          description: Unix timestamp for the start of the interval, in seconds, for which the metrics
        - in: query
          name: end
          schema:
            type: integer
            format: int64
            minimum: 0
            description: Unix timestamp for the end of the interval, in seconds, for which the metrics
        - in: query
          name: metric
          required: true
          schema:
            type: string
            enum:
              - concurrent_sandboxes
              - sandbox_start_rate
          description: Metric to retrieve the maximum value for
      responses:
        '200':
          description: Successfully returned the team metrics
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MaxTeamMetric'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '500':
          $ref: '#/components/responses/500'
  /sandboxes:
    get:
      description: List all running sandboxes
      tags:
        - sandboxes
      security:
        - ApiKeyAuth: []
      parameters:
        - name: metadata
          in: query
          description: Metadata query used to filter the sandboxes (e.g. "user=abc&app=prod"). Each key and values must be URL encoded.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Successfully returned all running sandboxes
          content:
            application/json:
              schema:
                type: array
                items:
                  allOf:
                    - $ref: '#/components/schemas/ListedSandbox'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '500':
          $ref: '#/components/responses/500'
    post:
      description: Create a sandbox from the template
      tags:
        - sandboxes
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewSandbox'
      responses:
        '201':
          description: The sandbox was created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Sandbox'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '500':
          $ref: '#/components/responses/500'
  /v2/sandboxes:
    get:
      description: List all sandboxes
      tags:
        - sandboxes
      security:
        - ApiKeyAuth: []
      parameters:
        - name: metadata
          in: query
          description: Metadata query used to filter the sandboxes (e.g. "user=abc&app=prod"). Each key and values must be URL encoded.
          required: false
          schema:
            type: string
        - name: state
          in: query
          description: Filter sandboxes by one or more states
          required: false
          schema:
            type: array
            items:
              $ref: '#/components/schemas/SandboxState'
          style: form
          explode: false
        - $ref: '#/components/parameters/paginationNextToken'
        - $ref: '#/components/parameters/paginationLimit'
      responses:
        '200':
          description: Successfully returned all running sandboxes
          content:
            application/json:
              schema:
                type: array
                items:
                  allOf:
                    - $ref: '#/components/schemas/ListedSandbox'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '500':
          $ref: '#/components/responses/500'
  /sandboxes/metrics:
    get:
      description: List metrics for given sandboxes
      tags:
        - sandboxes
      security:
        - ApiKeyAuth: []
      parameters:
        - name: sandbox_ids
          in: query
          required: true
          description: Comma-separated list of sandbox IDs to get metrics for
          explode: false
          schema:
            type: array
            items:
              type: string
            maxItems: 100
            uniqueItems: true
      responses:
        '200':
          description: Successfully returned all running sandboxes with metrics
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SandboxesWithMetrics'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '500':
          $ref: '#/components/responses/500'
  /sandboxes/{sandboxID}/logs:
    get:
      description: Get sandbox logs
      tags:
        - sandboxes
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/sandboxID'
        - in: query
          name: start
          schema:
            type: integer
            format: int64
            minimum: 0
          description: Starting timestamp of the logs that should be returned in milliseconds
        - in: query
          name: limit
          schema:
            default: 1000
            format: int32
            minimum: 0
            type: integer
          description: Maximum number of logs that should be returned
      responses:
        '200':
          description: Successfully returned the sandbox logs
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SandboxLogs'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
  /sandboxes/{sandboxID}:
    get:
      description: Get a sandbox by id
      tags:
        - sandboxes
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/sandboxID'
      responses:
        '200':
          description: Successfully returned the sandbox
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SandboxDetail'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
    delete:
      description: Kill a sandbox
      tags:
        - sandboxes
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/sandboxID'
      responses:
        '204':
          description: The sandbox was killed successfully
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
  /sandboxes/{sandboxID}/metrics:
    get:
      description: Get sandbox metrics
      tags:
        - sandboxes
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/sandboxID'
        - in: query
          name: start
          schema:
            type: integer
            format: int64
            minimum: 0
          description: Unix timestamp for the start of the interval, in seconds, for which the metrics
        - in: query
          name: end
          schema:
            type: integer
            format: int64
            minimum: 0
            description: Unix timestamp for the end of the interval, in seconds, for which the metrics
      responses:
        '200':
          description: Successfully returned the sandbox metrics
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SandboxMetric'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
  /sandboxes/{sandboxID}/pause:
    post:
      description: Pause the sandbox
      tags:
        - sandboxes
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/sandboxID'
      responses:
        '204':
          description: The sandbox was paused successfully and can be resumed
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '409':
          $ref: '#/components/responses/409'
        '500':
          $ref: '#/components/responses/500'
  /sandboxes/{sandboxID}/resume:
    post:
      deprecated: true
      description: Resume the sandbox
      tags:
        - sandboxes
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/sandboxID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResumedSandbox'
      responses:
        '201':
          description: The sandbox was resumed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Sandbox'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '409':
          $ref: '#/components/responses/409'
        '500':
          $ref: '#/components/responses/500'
  /sandboxes/{sandboxID}/connect:
    post:
      description: Returns sandbox details. If the sandbox is paused, it will be resumed. TTL is only extended.
      tags:
        - sandboxes
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/sandboxID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConnectSandbox'
      responses:
        '200':
          description: The sandbox was already running
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Sandbox'
        '201':
          description: The sandbox was resumed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Sandbox'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
  /sandboxes/{sandboxID}/timeout:
    post:
      description: Set the timeout for the sandbox. The sandbox will expire x seconds from the time of the request. Calling this method multiple times overwrites the TTL, each time using the current timestamp as the starting point to measure the timeout duration.
      security:
        - ApiKeyAuth: []
      tags:
        - sandboxes
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - timeout
              properties:
                timeout:
                  description: Timeout in seconds from the current time after which the sandbox should expire
                  type: integer
                  format: int32
                  minimum: 0
      parameters:
        - $ref: '#/components/parameters/sandboxID'
      responses:
        '204':
          description: Successfully set the sandbox timeout
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
  /sandboxes/{sandboxID}/refreshes:
    post:
      description: Refresh the sandbox extending its time to live
      security:
        - ApiKeyAuth: []
      tags:
        - sandboxes
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                duration:
                  description: Duration for which the sandbox should be kept alive in seconds
                  type: integer
                  maximum: 3600
                  minimum: 0
      parameters:
        - $ref: '#/components/parameters/sandboxID'
      responses:
        '204':
          description: Successfully refreshed the sandbox
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
  /v3/templates:
    post:
      description: Create a new template
      tags:
        - templates
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TemplateBuildRequestV3'
      responses:
        '202':
          description: The build was requested successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateRequestResponseV3'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '500':
          $ref: '#/components/responses/500'
  /v2/templates:
    post:
      description: Create a new template
      deprecated: true
      tags:
        - templates
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TemplateBuildRequestV2'
      responses:
        '202':
          description: The build was requested successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateLegacy'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '500':
          $ref: '#/components/responses/500'
  /templates/{templateID}/files/{hash}:
    get:
      description: Get an upload link for a tar file containing build layer files
      tags:
        - templates
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/templateID'
        - in: path
          name: hash
          required: true
          schema:
            type: string
            description: Hash of the files
      responses:
        '201':
          description: The upload link where to upload the tar file
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateBuildFileUpload'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
  /templates:
    get:
      description: List all templates
      tags:
        - templates
      security:
        - ApiKeyAuth: []
      parameters:
        - in: query
          required: false
          name: teamID
          schema:
            type: string
            description: Identifier of the team
      responses:
        '200':
          description: Successfully returned all templates
          content:
            application/json:
              schema:
                type: array
                items:
                  allOf:
                    - $ref: '#/components/schemas/Template'
        '401':
          $ref: '#/components/responses/401'
        '500':
          $ref: '#/components/responses/500'
  /templates/{templateID}:
    get:
      description: List all builds for a template
      tags:
        - templates
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/templateID'
        - $ref: '#/components/parameters/paginationNextToken'
        - $ref: '#/components/parameters/paginationLimit'
      responses:
        '200':
          description: Successfully returned the template with its builds
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateWithBuilds'
        '401':
          $ref: '#/components/responses/401'
        '500':
          $ref: '#/components/responses/500'
    delete:
      description: Delete a template
      tags:
        - templates
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/templateID'
      responses:
        '204':
          description: The template was deleted successfully
        '401':
          $ref: '#/components/responses/401'
        '500':
          $ref: '#/components/responses/500'
    patch:
      description: Update template
      deprecated: true
      tags:
        - templates
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/templateID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TemplateUpdateRequest'
      responses:
        '200':
          description: The template was updated successfully
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '500':
          $ref: '#/components/responses/500'
  /v2/templates/{templateID}/builds/{buildID}:
    post:
      description: Start the build
      tags:
        - templates
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/templateID'
        - $ref: '#/components/parameters/buildID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TemplateBuildStartV2'
      responses:
        '202':
          description: The build has started
        '401':
          $ref: '#/components/responses/401'
        '500':
          $ref: '#/components/responses/500'
  /v2/templates/{templateID}:
    patch:
      description: Update template
      tags:
        - templates
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/templateID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TemplateUpdateRequest'
      responses:
        '200':
          description: The template was updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateUpdateResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '500':
          $ref: '#/components/responses/500'
  /templates/{templateID}/builds/{buildID}/status:
    get:
      description: Get template build info
      tags:
        - templates
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/templateID'
        - $ref: '#/components/parameters/buildID'
        - in: query
          name: logsOffset
          schema:
            default: 0
            type: integer
            format: int32
            minimum: 0
          description: Index of the starting build log that should be returned with the template
        - in: query
          name: limit
          schema:
            default: 100
            type: integer
            format: int32
            minimum: 0
            maximum: 100
          description: Maximum number of logs that should be returned
        - in: query
          name: level
          schema:
            $ref: '#/components/schemas/LogLevel'
      responses:
        '200':
          description: Successfully returned the template
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateBuildInfo'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
  /templates/{templateID}/builds/{buildID}/logs:
    get:
      description: Get template build logs
      tags:
        - templates
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/templateID'
        - $ref: '#/components/parameters/buildID'
        - in: query
          name: cursor
          schema:
            type: integer
            format: int64
            minimum: 0
          description: Starting timestamp of the logs that should be returned in milliseconds
        - in: query
          name: limit
          schema:
            default: 100
            type: integer
            format: int32
            minimum: 0
            maximum: 100
          description: Maximum number of logs that should be returned
        - in: query
          name: direction
          schema:
            $ref: '#/components/schemas/LogsDirection'
        - in: query
          name: level
          schema:
            $ref: '#/components/schemas/LogLevel'
        - in: query
          name: source
          schema:
            $ref: '#/components/schemas/LogsSource'
          description: Source of the logs that should be returned from
      responses:
        '200':
          description: Successfully returned the template build logs
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateBuildLogsResponse'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
  /templates/tags:
    post:
      description: Assign tag(s) to a template build
      tags:
        - tags
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssignTemplateTagsRequest'
      responses:
        '201':
          description: Tag assigned successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssignedTemplateTags'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
    delete:
      description: Delete multiple tags from templates
      tags:
        - tags
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteTemplateTagsRequest'
      responses:
        '204':
          description: Tags deleted successfully
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
  /templates/aliases/{alias}:
    get:
      description: Check if template with given alias exists
      tags:
        - templates
      security:
        - ApiKeyAuth: []
      parameters:
        - name: alias
          in: path
          required: true
          schema:
            type: string
            description: Template alias
      responses:
        '200':
          description: Successfully queried template by alias
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateAliasResponse'
        '400':
          $ref: '#/components/responses/400'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
  /init:
    servers:
      - url: https://{port}-{sandboxId}.e2b.app
        description: Sandbox API
        variables:
          port:
            default: '49982'
            description: Port number for the sandbox API
          sandboxId:
            default: sandbox-id
            description: Sandbox ID returned when creating a sandbox
    post:
      summary: Set initial vars, ensure the time and metadata is synced with the host
      security:
        - AccessTokenAuth: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                hyperloopIP:
                  type: string
                  description: IP address of the hyperloop server to connect to
                envVars:
                  $ref: '#/components/schemas/SandboxEnvVars'
                accessToken:
                  type: string
                  description: Access token for secure access to envd service
                  x-go-type: SecureToken
                timestamp:
                  type: string
                  format: date-time
                  description: The current timestamp in RFC3339 format
                defaultUser:
                  type: string
                  description: The default user to use for operations
                defaultWorkdir:
                  type: string
                  description: The default working directory to use for operations
      responses:
        '204':
          description: Env vars set, the time and metadata is synced with the host
      tags:
        - Sandbox
  /files:
    servers:
      - url: https://{port}-{sandboxId}.e2b.app
        description: Sandbox API
        variables:
          port:
            default: '49982'
            description: Port number for the sandbox API
          sandboxId:
            default: sandbox-id
            description: Sandbox ID returned when creating a sandbox
    get:
      summary: Download a file
      tags:
        - Sandbox Files
      security:
        - AccessTokenAuth: []
      parameters:
        - $ref: '#/components/parameters/SandboxFilePath'
        - $ref: '#/components/parameters/SandboxUser'
        - $ref: '#/components/parameters/SandboxSignature'
        - $ref: '#/components/parameters/SandboxSignatureExpiration'
      responses:
        '200':
          $ref: '#/components/responses/SandboxDownloadSuccess'
        '400':
          $ref: '#/components/responses/SandboxInvalidPath'
        '401':
          $ref: '#/components/responses/SandboxInvalidUser'
        '404':
          $ref: '#/components/responses/SandboxFileNotFound'
        '500':
          $ref: '#/components/responses/SandboxInternalServerError'
    post:
      summary: Upload a file and ensure the parent directories exist. If the file exists, it will be overwritten.
      tags:
        - Sandbox Files
      security:
        - AccessTokenAuth: []
      parameters:
        - $ref: '#/components/parameters/SandboxFilePath'
        - $ref: '#/components/parameters/SandboxUser'
        - $ref: '#/components/parameters/SandboxSignature'
        - $ref: '#/components/parameters/SandboxSignatureExpiration'
      requestBody:
        $ref: '#/components/requestBodies/SandboxFile'
      responses:
        '200':
          $ref: '#/components/responses/SandboxUploadSuccess'
        '400':
          $ref: '#/components/responses/SandboxInvalidPath'
        '401':
          $ref: '#/components/responses/SandboxInvalidUser'
        '500':
          $ref: '#/components/responses/SandboxInternalServerError'
        '507':
          $ref: '#/components/responses/SandboxNotEnoughDiskSpace'
  /filesystem.Filesystem/CreateWatcher:
    servers:
      - url: https://{port}-{sandboxId}.e2b.app
        description: Sandbox API
        variables:
          port:
            default: '49982'
            description: Port number for the sandbox API
          sandboxId:
            default: sandbox-id
            description: Sandbox ID returned when creating a sandbox
    post:
      tags:
        - Sandbox Filesystem
      summary: CreateWatcher
      description: Non-streaming versions of WatchDir
      operationId: filesystem.Filesystem.CreateWatcher
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
[...]
