openapi: 3.0.0
info:
  version: 0.1.0
  title: E2B API
  description: |-
    The E2B API allows you to programmatically create, manage, and interact with cloud sandboxes - secure, isolated environments for running code.

    ## Overview

    The API is split into two parts:

    ### Control Plane API (`api.e2b.app`)
    Use this API to manage the lifecycle of sandboxes and templates:
    - **Sandboxes**: Create, list, pause, resume, and terminate sandboxes
    - **Templates**: Build and manage custom sandbox templates
    - **Metrics**: Monitor usage and resource consumption

    ### Data Plane API (`{port}-{sandboxId}.e2b.app`)
    Use this API to interact with a running sandbox:
    - **Files**: Upload and download files
    - **Filesystem**: Create directories, list contents, move and delete files
    - **Processes**: Start, monitor, and control processes

    ## Authentication

    ### Control Plane (X-API-Key)
    All Control Plane endpoints require your API key in the `X-API-Key` header.
    Get your API key from the [E2B Dashboard](https://e2b.dev/dashboard?tab=keys).

    ```bash
    curl -H "X-API-Key: e2b_YOUR_API_KEY" https://api.e2b.app/sandboxes
    ```

    ### Data Plane (X-Access-Token)
    Data Plane endpoints require the `X-Access-Token` header with the access token
    returned when you create a sandbox.

    ```bash
    # 1. Create a sandbox (returns sandboxId and envdAccessToken)
    curl -X POST -H "X-API-Key: e2b_YOUR_API_KEY" \
      -d '{"templateID": "base"}' \
      https://api.e2b.app/sandboxes

    # 2. Use the token to interact with the sandbox
    curl -H "X-Access-Token: YOUR_ACCESS_TOKEN" \
      https://49982-YOUR_SANDBOX_ID.e2b.app/files?path=/home/user/file.txt
    ```

    ## Quick Start

    1. **Create a sandbox** from a template using `POST /sandboxes`
    2. **Get the access token** from the response (`envdAccessToken`)
    3. **Interact with the sandbox** using the Data Plane API
    4. **Clean up** by deleting the sandbox with `DELETE /sandboxes/{sandboxID}`

    ## Rate Limits

    API requests are rate limited. Contact support if you need higher limits.

    ## SDKs

    We provide official SDKs for Python, JavaScript/TypeScript, and Go.
    See [SDK Reference](https://e2b.dev/docs/sdk-reference) for details.
servers:
- url: https://api.e2b.app
  description: E2B Control Plane API
tags:
- name: Sandboxes
  description: |-
    Create and manage sandbox instances. Sandboxes are isolated cloud environments
    where you can safely run code, install packages, and execute processes.

    **Common workflows:**
    - Create a sandbox → Run code → Delete sandbox
    - Create a sandbox → Pause → Resume later → Delete
    - List running sandboxes → Get metrics → Clean up idle ones
- name: Templates
  description: |-
    Build and manage custom templates. Templates are pre-configured sandbox images
    with your preferred tools, packages, and configurations pre-installed.

    **Use templates to:**
    - Speed up sandbox creation by pre-installing dependencies
    - Ensure consistent environments across sandboxes
    - Share configurations across your team
- name: Metrics
  description: |-
    Monitor resource usage and track sandbox activity. Use metrics to understand
    your usage patterns and optimize costs.
- name: Teams
  description: |-
    List and manage your teams. Teams are organizational units that own
    sandboxes, templates, and API keys.
- name: Sandbox Filesystem
  description: |-
    Perform filesystem operations inside a running sandbox. Create directories,
    list contents, move files, delete files, and watch for changes.

    **Base URL:** `https://{port}-{sandboxId}.e2b.app`

    These endpoints use Connect RPC protocol over HTTP.
- name: Sandbox Process
  description: |-
    Start and manage processes inside a running sandbox. Execute commands,
    stream output, send input, and control running processes.

    **Base URL:** `https://{port}-{sandboxId}.e2b.app`

    These endpoints use Connect RPC protocol over HTTP.
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
    AccessTokenAuth:
      type: apiKey
      in: header
      name: X-Access-Token
  parameters:
    templateID:
      name: templateID
      in: path
      required: true
      schema:
        type: string
      description: Unique identifier of the template (e.g., `base`, `python`, or a custom template ID)
      example: base
    buildID:
      name: buildID
      in: path
      required: true
      schema:
        type: string
      description: Unique identifier of a template build (UUID format)
      example: 550e8400-e29b-41d4-a716-446655440000
    sandboxID:
      name: sandboxID
      in: path
      required: true
      schema:
        type: string
      description: Unique identifier of the sandbox
      example: sandbox-abc123
    teamID:
      name: teamID
      in: path
      required: true
      schema:
        type: string
      description: Unique identifier of your team
    paginationLimit:
      name: limit
      in: query
      description: Maximum number of items to return per page (1-100)
      required: false
      schema:
        type: integer
        format: int32
        minimum: 1
        default: 100
        maximum: 100
      example: 50
    paginationNextToken:
      name: nextToken
      in: query
      description: Cursor for pagination. Use the value from the previous response to get the next page.
      required: false
      schema:
        type: string
    SandboxFilePath:
      name: path
      in: query
      required: false
      description: |
        Path to the file inside the sandbox. Can be absolute (e.g., `/home/user/file.txt`)
        or relative to the user's home directory (e.g., `file.txt`).
        Must be URL encoded.
      schema:
        type: string
      example: /home/user/data.json
    SandboxUser:
      name: username
      in: query
      required: false
      description: Username for file ownership and resolving relative paths. Defaults to `user`.
      schema:
        type: string
        default: user
      example: user
    SandboxSignature:
      name: signature
      in: query
      required: false
      description: Signature used for file access permission verification.
      schema:
        type: string
    SandboxSignatureExpiration:
      name: signature_expiration
      in: query
      required: false
      description: Signature expiration used for defining the expiration time of the signature.
      schema:
        type: integer
  responses:
    '400':
      description: Bad Request - The request was malformed or missing required parameters
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            code: 400
            message: 'Invalid request: templateID is required'
    '401':
      description: Unauthorized - Invalid or missing API key
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            code: 401
            message: Invalid API key
    '403':
      description: Forbidden - You don't have permission to access this resource
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            code: 403
            message: Access denied
    '404':
      description: Not Found - The requested resource doesn't exist
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            code: 404
            message: Sandbox not found
    '409':
      description: Conflict - The request conflicts with the current state
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            code: 409
            message: Sandbox is already paused
    '500':
      description: Internal Server Error - Something went wrong on our end
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            code: 500
            message: Internal server error
  schemas:
    Team:
      required:
      - teamID
      - name
      - apiKey
      - isDefault
      properties:
        teamID:
          type: string
          description: Identifier of the team
        name:
          type: string
          description: Name of the team
        apiKey:
          type: string
          description: API key for the team
        isDefault:
          type: boolean
          description: Whether the team is the default team
      description: A team in the E2B platform
      type: object
    TeamUser:
      required:
      - id
      - email
      properties:
        id:
          type: string
          format: uuid
          description: Identifier of the user
        email:
          type: string
          description: Email of the user
      type: object
    TemplateUpdateRequest:
      properties:
        public:
          type: boolean
          description: Whether the template is public or only accessible by the team
      type: object
    TemplateUpdateResponse:
      required:
      - names
      properties:
        names:
          type: array
          description: Names of the template (namespace/alias format when namespaced)
          items:
            type: string
      type: object
    Mcp:
      type: object
      description: MCP configuration for the sandbox
      additionalProperties: {}
      nullable: true
    SandboxNetworkConfig:
      type: object
      properties:
        allowPublicTraffic:
          type: boolean
          default: true
          description: Specify if the sandbox URLs should be accessible only with authentication.
        allowOut:
          type: array
          description: List of allowed CIDR blocks or IP addresses for egress traffic. Allowed addresses always take precedence over blocked addresses.
          items:
            type: string
        denyOut:
          type: array
          description: List of denied CIDR blocks or IP addresses for egress traffic
          items:
            type: string
        maskRequestHost:
          type: string
          description: Specify host mask which will be used for all sandbox requests
    SandboxLog:
      description: Log entry with timestamp and line
      required:
      - timestamp
      - line
      properties:
        timestamp:
          type: string
          format: date-time
          description: Timestamp of the log entry
        line:
          type: string
          description: Log line content
      type: object
    SandboxLogEntry:
      required:
      - timestamp
      - level
      - message
      - fields
      properties:
        timestamp:
          type: string
          format: date-time
          description: Timestamp of the log entry
        message:
          type: string
          description: Log message content
        level:
          $ref: '#/components/schemas/LogLevel'
        fields:
          type: object
          additionalProperties:
            type: string
      type: object
    SandboxLogs:
      required:
      - logs
      - logEntries
      properties:
        logs:
          description: Logs of the sandbox
          type: array
          items:
            $ref: '#/components/schemas/SandboxLog'
        logEntries:
          description: Structured logs of the sandbox
          type: array
          items:
            $ref: '#/components/schemas/SandboxLogEntry'
      type: object
    SandboxLogsV2Response:
      required:
      - logs
      properties:
        logs:
          default: []
          description: Sandbox logs structured
          type: array
          items:
            $ref: '#/components/schemas/SandboxLogEntry'
      type: object
    SandboxMetric:
      description: Resource usage metrics for a sandbox at a point in time
      required:
      - timestamp
      - timestampUnix
      - cpuCount
      - cpuUsedPct
      - memUsed
      - memTotal
      - diskUsed
      - diskTotal
      properties:
        timestamp:
          type: string
          format: date-time
          deprecated: true
          description: Timestamp of the metric entry
        timestampUnix:
          type: integer
          format: int64
          description: Unix timestamp (seconds since epoch)
          example: 1705315800
        cpuCount:
          type: integer
          format: int32
          description: Number of CPU cores
          example: 2
        cpuUsedPct:
          type: number
          format: float
          description: CPU usage as a percentage (0-100 per core, so max is cpuCount * 100)
          example: 45.5
        memUsed:
          type: integer
          format: int64
          description: Memory used in bytes
          example: 268435456
        memTotal:
          type: integer
          format: int64
          description: Total memory available in bytes
          example: 536870912
        diskUsed:
          type: integer
          format: int64
          description: Disk space used in bytes
          example: 104857600
        diskTotal:
          type: integer
          format: int64
          description: Total disk space in bytes
          example: 1073741824
      type: object
    Sandbox:
      required:
      - templateID
      - sandboxID
      - clientID
      - envdVersion
      properties:
        templateID:
          type: string
          description: ID of the template this sandbox was created from
          example: base
        sandboxID:
          type: string
          description: Unique identifier of the sandbox
          example: sandbox-abc123xyz
        alias:
          type: string
          description: Alias of the template
        clientID:
          type: string
          deprecated: true
          description: Identifier of the client
        envdVersion:
          type: string
          description: Version of the sandbox runtime
          example: 0.1.0
        envdAccessToken:
          type: string
          description: Access token for Data Plane API calls. Use this as the `X-Access-Token` header when calling sandbox endpoints.
          example: eyJhbGciOiJIUzI1NiIs...
        trafficAccessToken:
          type: string
          nullable: true
          description: Token required for accessing sandbox via proxy.
        domain:
          type: string
          nullable: true
          description: Base domain for accessing the sandbox
          example: e2b.app
      description: A sandbox instance that was just created
      type: object
    SandboxDetail:
      required:
      - templateID
      - sandboxID
      - clientID
      - startedAt
      - cpuCount
      - memoryMB
      - diskSizeMB
      - endAt
      - state
      - envdVersion
      properties:
        templateID:
          type: string
          description: ID of the template this sandbox was created from
          example: base
        alias:
          type: string
          description: Human-readable alias for the template
          example: my-python-template
        sandboxID:
          type: string
          description: Unique identifier of the sandbox
          example: sandbox-abc123xyz
        clientID:
          type: string
          deprecated: true
          description: Identifier of the client
        startedAt:
          type: string
          format: date-time
          description: When the sandbox was created
          example: '2024-01-15T10:30:00Z'
        endAt:
          type: string
          format: date-time
          description: When the sandbox will automatically terminate (can be extended)
          example: '2024-01-15T10:45:00Z'
        envdVersion:
          type: string
        envdAccessToken:
          type: string
          description: Access token for Data Plane API calls
        domain:
          type: string
          nullable: true
          description: Base domain where the sandbox traffic is accessible
        cpuCount:
          type: integer
          format: int32
          minimum: 1
          description: Number of CPU cores allocated
          example: 2
        memoryMB:
          type: integer
          format: int32
          minimum: 128
          description: Memory allocated in megabytes
          example: 512
        diskSizeMB:
          type: integer
          format: int32
          minimum: 0
          description: Disk space allocated in megabytes
          example: 1024
        metadata:
          type: object
          additionalProperties:
            type: string
        state:
          type: string
          enum:
          - running
          - paused
      description: Detailed information about a sandbox
      type: object
    ListedSandbox:
      required:
      - templateID
      - sandboxID
      - clientID
      - startedAt
      - cpuCount
      - memoryMB
      - diskSizeMB
      - endAt
      - state
      - envdVersion
      properties:
        templateID:
          type: string
          description: Identifier of the template from which is the sandbox created
        alias:
          type: string
          description: Alias of the template
        sandboxID:
          type: string
          description: Identifier of the sandbox
        clientID:
          type: string
          deprecated: true
          description: Identifier of the client
        startedAt:
          type: string
          format: date-time
          description: Time when the sandbox was started
        endAt:
          type: string
          format: date-time
          description: Time when the sandbox will expire
        cpuCount:
          type: integer
          format: int32
          minimum: 1
        memoryMB:
          type: integer
          format: int32
          minimum: 128
        diskSizeMB:
          type: integer
          format: int32
          minimum: 0
        metadata:
          type: object
          additionalProperties:
            type: string
        state:
          type: string
          enum:
          - running
          - paused
        envdVersion:
          type: string
      description: Summary information about a sandbox in a list
      type: object
    SandboxesWithMetrics:
      required:
      - sandboxes
      properties:
        sandboxes:
          additionalProperties:
            $ref: '#/components/schemas/SandboxMetric'
      type: object
    NewSandbox:
      required:
      - templateID
      properties:
        templateID:
          type: string
          description: ID of the template to use. Can be a built-in template (`base`, `python`, `node`) or a custom template ID.
          example: base
        timeout:
          type: integer
          format: int32
          minimum: 0
          default: 15
          description: 'How long the sandbox should stay alive in seconds, measured from creation time. The sandbox will automatically terminate after this duration unless extended. Maximum: 24 hours (86400 seconds).'
          example: 300
        autoPause:
          type: boolean
          default: false
          description: If true, the sandbox will automatically pause instead of terminating when the timeout expires.
          example: true
        secure:
          type: boolean
          description: Secure all system communication with sandbox
        allow_internet_access:
          type: boolean
          description: Allow sandbox to access the internet. When set to false, it behaves the same as specifying denyOut to 0.0.0.0/0 in the network config.
        network:
          $ref: '#/components/schemas/SandboxNetworkConfig'
        metadata:
          type: object
          additionalProperties:
            type: string
          description: Custom key-value metadata to attach to the sandbox. Useful for filtering and organizing sandboxes.
          example:
            user: user-123
            project: code-review
            environment: staging
        envVars:
          type: object
          additionalProperties:
            type: string
          description: Environment variables to set in the sandbox.
          example:
            NODE_ENV: production
            API_URL: https://api.example.com
        mcp:
          $ref: '#/components/schemas/Mcp'
      description: Request body for creating a new sandbox
      type: object
    ResumedSandbox:
      properties:
        timeout:
          type: integer
          format: int32
          minimum: 0
          default: 15
          description: Time to live for the sandbox in seconds.
        autoPause:
          type: boolean
          deprecated: true
          description: Automatically pauses the sandbox after the timeout
      type: object
    ConnectSandbox:
      type: object
      required:
      - timeout
      properties:
        timeout:
          description: Timeout in seconds from the current time after which the sandbox should expire
          type: integer
          format: int32
          minimum: 0
    TeamMetric:
      description: Team metric with timestamp
      required:
      - timestamp
      - timestampUnix
      - concurrentSandboxes
      - sandboxStartRate
      properties:
        timestamp:
          type: string
          format: date-time
          deprecated: true
          description: Timestamp of the metric entry
        timestampUnix:
          type: integer
          format: int64
          description: Timestamp of the metric entry in Unix time (seconds since epoch)
        concurrentSandboxes:
          type: integer
          format: int32
          description: The number of concurrent sandboxes for the team
        sandboxStartRate:
          type: number
          format: float
          description: Number of sandboxes started per second
      type: object
    MaxTeamMetric:
      description: Team metric with timestamp
      required:
      - timestamp
      - timestampUnix
      - value
      properties:
        timestamp:
          type: string
          format: date-time
          deprecated: true
          description: Timestamp of the metric entry
        timestampUnix:
          type: integer
          format: int64
          description: Timestamp of the metric entry in Unix time (seconds since epoch)
        value:
          type: number
          description: The maximum value of the requested metric in the given interval
      type: object
    Template:
      required:
      - templateID
      - buildID
      - cpuCount
      - memoryMB
      - diskSizeMB
      - public
      - createdAt
      - updatedAt
      - createdBy
      - lastSpawnedAt
      - spawnCount
      - buildCount
      - envdVersion
      - aliases
      - names
      - buildStatus
      properties:
        templateID:
          type: string
          description: Unique identifier of the template
          example: tpl-abc123
        buildID:
          type: string
          description: ID of the current (latest successful) build
          example: 550e8400-e29b-41d4-a716-446655440000
        cpuCount:
          type: integer
          format: int32
          minimum: 1
          description: Default CPU cores for sandboxes
          example: 2
        memoryMB:
          type: integer
          format: int32
          minimum: 128
          description: Default memory in MB
          example: 512
        diskSizeMB:
          type: integer
          format: int32
          minimum: 0
          description: Default disk size in MB
          example: 1024
        public:
          type: boolean
          description: Whether the template is public or only accessible by the team
        aliases:
          type: array
          description: Aliases of the template
          deprecated: true
          items:
            type: string
        names:
          type: array
          description: Human-readable names/aliases for the template
          items:
            type: string
          example:
          - my-python-env
          - team/python-ml
        createdAt:
          type: string
          format: date-time
          description: Time when the template was created
        updatedAt:
          type: string
          format: date-time
          description: Time when the template was last updated
        createdBy:
          allOf:
          - $ref: '#/components/schemas/TeamUser'
          nullable: true
        lastSpawnedAt:
          type: string
          nullable: true
          format: date-time
          description: Time when the template was last used
        spawnCount:
          type: integer
          format: int64
          description: Total number of sandboxes created from this template
          example: 1542
        buildCount:
          type: integer
          format: int32
          description: Number of times the template was built
        envdVersion:
          type: string
        buildStatus:
          $ref: '#/components/schemas/TemplateBuildStatus'
      description: A sandbox template with pre-installed tools and configurations
      type: object
    TemplateRequestResponseV3:
      required:
      - templateID
      - buildID
      - public
      - aliases
      - names
      - tags
      properties:
        templateID:
          type: string
          description: Identifier of the template
        buildID:
          type: string
          description: Identifier of the last successful build for given template
        public:
          type: boolean
          description: Whether the template is public or only accessible by the team
        names:
          type: array
          description: Names of the template
          items:
            type: string
        tags:
          type: array
          description: Tags assigned to the template build
          items:
            type: string
        aliases:
          type: array
          description: Aliases of the template
          deprecated: true
          items:
            type: string
      type: object
    TemplateLegacy:
      required:
      - templateID
      - buildID
      - cpuCount
      - memoryMB
      - diskSizeMB
      - public
      - createdAt
      - updatedAt
      - createdBy
      - lastSpawnedAt
      - spawnCount
      - buildCount
      - envdVersion
      - aliases
      properties:
        templateID:
          type: string
          description: Identifier of the template
        buildID:
          type: string
          description: Identifier of the last successful build for given template
        cpuCount:
          type: integer
          format: int32
          minimum: 1
        memoryMB:
          type: integer
          format: int32
          minimum: 128
        diskSizeMB:
          type: integer
          format: int32
          minimum: 0
        public:
          type: boolean
          description: Whether the template is public or only accessible by the team
        aliases:
          type: array
          description: Aliases of the template
          items:
            type: string
        createdAt:
          type: string
          format: date-time
          description: Time when the template was created
        updatedAt:
          type: string
          format: date-time
          description: Time when the template was last updated
        createdBy:
          allOf:
          - $ref: '#/components/schemas/TeamUser'
          nullable: true
        lastSpawnedAt:
          type: string
          nullable: true
          format: date-time
          description: Time when the template was last used
        spawnCount:
          type: integer
          format: int64
          description: Number of times the template was used
        buildCount:
          type: integer
          format: int32
          description: Number of times the template was built
        envdVersion:
          type: string
      type: object
    TemplateBuild:
      required:
      - buildID
      - status
      - createdAt
      - updatedAt
      - cpuCount
      - memoryMB
      properties:
        buildID:
          type: string
          format: uuid
          description: Identifier of the build
        status:
          $ref: '#/components/schemas/TemplateBuildStatus'
        createdAt:
          type: string
          format: date-time
          description: Time when the build was created
        updatedAt:
          type: string
          format: date-time
          description: Time when the build was last updated
        finishedAt:
          type: string
          format: date-time
          description: Time when the build was finished
        cpuCount:
          type: integer
          format: int32
          minimum: 1
        memoryMB:
          type: integer
          format: int32
          minimum: 128
        diskSizeMB:
          type: integer
          format: int32
          minimum: 0
        envdVersion:
          type: string
      type: object
    TemplateWithBuilds:
      required:
      - templateID
      - public
      - aliases
      - names
      - createdAt
      - updatedAt
      - lastSpawnedAt
      - spawnCount
      - builds
      properties:
        templateID:
          type: string
          description: Identifier of the template
        public:
          type: boolean
          description: Whether the template is public or only accessible by the team
        aliases:
          type: array
          description: Aliases of the template
          deprecated: true
          items:
            type: string
        names:
          type: array
          description: Names of the template (namespace/alias format when namespaced)
          items:
            type: string
        createdAt:
          type: string
          format: date-time
          description: Time when the template was created
        updatedAt:
          type: string
          format: date-time
          description: Time when the template was last updated
        lastSpawnedAt:
          type: string
          nullable: true
          format: date-time
          description: Time when the template was last used
        spawnCount:
          type: integer
          format: int64
          description: Number of times the template was used
        builds:
          type: array
          description: List of builds for the template
          items:
            $ref: '#/components/schemas/TemplateBuild'
      type: object
    TemplateAliasResponse:
      required:
      - templateID
      - public
      properties:
        templateID:
          type: string
          description: Identifier of the template
        public:
          type: boolean
          description: Whether the template is public or only accessible by the team
      type: object
    TemplateBuildRequest:
      required:
      - dockerfile
      properties:
        alias:
          description: Alias of the template
          type: string
        dockerfile:
          description: Dockerfile for the template
          type: string
        teamID:
          type: string
          description: Identifier of the team
        startCmd:
          description: Start command to execute in the template after the build
          type: string
        readyCmd:
          description: Ready check command to execute in the template after the build
          type: string
        cpuCount:
          type: integer
          format: int32
          minimum: 1
        memoryMB:
          type: integer
          format: int32
          minimum: 128
      type: object
    TemplateStep:
      description: Step in the template build process
      required:
      - type
      properties:
        type:
          type: string
          description: Type of the step
        args:
          default: []
          type: array
          description: Arguments for the step
          items:
            type: string
        filesHash:
          type: string
          description: Hash of the files used in the step
        force:
          default: false
          type: boolean
          description: Whether the step should be forced to run regardless of the cache
      type: object
    TemplateBuildRequestV3:
      properties:
        name:
          description: Name of the template. Can include a tag with colon separator (e.g. "my-template" or "my-template:v1"). If tag is included, it will be treated as if the tag was provided in the tags array.
          type: string
        tags:
          type: array
          description: Tags to assign to the template build
          items:
            type: string
        alias:
          description: Alias of the template. Deprecated, use name instead.
          type: string
          deprecated: true
        teamID:
          deprecated: true
          type: string
          description: Identifier of the team
        cpuCount:
          type: integer
          format: int32
          minimum: 1
        memoryMB:
          type: integer
          format: int32
          minimum: 128
      type: object
    TemplateBuildRequestV2:
      required:
      - alias
      properties:
        alias:
          description: Alias of the template
          type: string
        teamID:
          deprecated: true
          type: string
          description: Identifier of the team
        cpuCount:
          type: integer
          format: int32
          minimum: 1
        memoryMB:
          type: integer
          format: int32
          minimum: 128
      type: object
    FromImageRegistry:
      oneOf:
      - $ref: '#/components/schemas/AWSRegistry'
      - $ref: '#/components/schemas/GCPRegistry'
      - $ref: '#/components/schemas/GeneralRegistry'
      discriminator:
        propertyName: type
        mapping:
          aws: '#/components/schemas/AWSRegistry'
          gcp: '#/components/schemas/GCPRegistry'
          registry: '#/components/schemas/GeneralRegistry'
    AWSRegistry:
      type: object
      required:
      - type
      - awsAccessKeyId
      - awsSecretAccessKey
      - awsRegion
      properties:
        type:
          type: string
          enum:
          - aws
          description: Type of registry authentication
        awsAccessKeyId:
          type: string
          description: AWS Access Key ID for ECR authentication
        awsSecretAccessKey:
          type: string
          description: AWS Secret Access Key for ECR authentication
        awsRegion:
          type: string
          description: AWS Region where the ECR registry is located
    GCPRegistry:
      type: object
      required:
      - type
      - serviceAccountJson
      properties:
        type:
          type: string
          enum:
          - gcp
          description: Type of registry authentication
        serviceAccountJson:
          type: string
          description: Service Account JSON for GCP authentication
    GeneralRegistry:
      type: object
      required:
      - type
      - username
      - password
      properties:
        type:
          type: string
          enum:
          - registry
          description: Type of registry authentication
        username:
          type: string
          description: Username to use for the registry
        password:
          type: string
          description: Password to use for the registry
    TemplateBuildStartV2:
      type: object
      properties:
        fromImage:
          type: string
          description: Image to use as a base for the template build
        fromTemplate:
          type: string
          description: Template to use as a base for the template build
        fromImageRegistry:
          $ref: '#/components/schemas/FromImageRegistry'
        force:
          default: false
          type: boolean
          description: Whether the whole build should be forced to run regardless of the cache
        steps:
          default: []
          description: List of steps to execute in the template build
          type: array
          items:
            $ref: '#/components/schemas/TemplateStep'
        startCmd:
          description: Start command to execute in the template after the build
          type: string
        readyCmd:
          description: Ready check command to execute in the template after the build
          type: string
    TemplateBuildFileUpload:
      required:
      - present
      properties:
        present:
          type: boolean
          description: Whether the file is already present in the cache
        url:
          description: Url where the file should be uploaded to
          type: string
      type: object
    LogLevel:
      type: string
      description: State of the sandbox
      enum:
      - debug
      - info
      - warn
      - error
    BuildLogEntry:
      required:
      - timestamp
      - message
      - level
      properties:
        timestamp:
          type: string
          format: date-time
          description: Timestamp of the log entry
        message:
          type: string
          description: Log message content
        level:
          $ref: '#/components/schemas/LogLevel'
        step:
          type: string
          description: Step in the build process related to the log entry
      type: object
    BuildStatusReason:
      required:
      - message
      properties:
        message:
          type: string
          description: Message with the status reason, currently reporting only for error status
        step:
          type: string
          description: Step that failed
        logEntries:
          default: []
          description: Log entries related to the status reason
          type: array
          items:
            $ref: '#/components/schemas/BuildLogEntry'
      type: object
    TemplateBuildStatus:
      type: string
      description: Status of the template build
      enum:
      - building
      - waiting
      - ready
      - error
    TemplateBuildInfo:
      required:
      - templateID
      - buildID
      - status
      - logs
      - logEntries
      properties:
        logs:
          default: []
          description: Build logs
          type: array
          items:
            type: string
        logEntries:
          default: []
          description: Build logs structured
          type: array
          items:
            $ref: '#/components/schemas/BuildLogEntry'
        templateID:
          type: string
          description: Identifier of the template
        buildID:
          type: string
          description: Identifier of the build
        status:
          $ref: '#/components/schemas/TemplateBuildStatus'
        reason:
          $ref: '#/components/schemas/BuildStatusReason'
      type: object
    TemplateBuildLogsResponse:
      required:
      - logs
      properties:
        logs:
          default: []
          description: Build logs structured
          type: array
          items:
            $ref: '#/components/schemas/BuildLogEntry'
      type: object
    LogsDirection:
      type: string
      description: Direction of the logs that should be returned
      enum:
      - forward
      - backward
      x-enum-varnames:
      - LogsDirectionForward
      - LogsDirectionBackward
    LogsSource:
      type: string
      description: Source of the logs that should be returned
      enum:
      - temporary
      - persistent
      x-enum-varnames:
      - LogsSourceTemporary
      - LogsSourcePersistent
    AssignedTemplateTags:
      required:
      - tags
      - buildID
      properties:
        tags:
          type: array
          items:
            type: string
          description: Assigned tags of the template
        buildID:
          type: string
          format: uuid
          description: Identifier of the build associated with these tags
      type: object
    AssignTemplateTagsRequest:
      required:
      - target
      - tags
      properties:
        target:
          type: string
          description: Target template in "name:tag" format
        tags:
          description: Tags to assign to the template
          type: array
          items:
            type: string
      type: object
    DeleteTemplateTagsRequest:
      required:
      - name
      - tags
      properties:
        name:
          type: string
          description: Name of the template
        tags:
          description: Tags to delete
          type: array
          items:
            type: string
      type: object
    Error:
      required:
      - code
      - message
      properties:
        code:
          type: integer
          format: int32
          description: HTTP status code
          example: 400
        message:
          type: string
          description: Human-readable error message
          example: Invalid request parameters
      description: Error response returned when a request fails
      type: object
paths:
  /init:
    servers:
    - url: https://{port}-{sandboxId}.e2b.app
      description: Sandbox Data Plane API
      variables:
        port:
          default: '49982'
          description: API port (always 49982)
        sandboxId:
          default: your-sandbox-id
          description: Your sandbox ID from the create response
    post:
      summary: Initialize sandbox
      description: Initializes a sandbox after creation. Syncs environment variables and metadata.
      operationId: initSandbox
      tags:
      - Sandboxes
      security:
      - AccessTokenAuth: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                envVars:
                  type: object
                  additionalProperties:
                    type: string
                  description: Environment variables to set
                accessToken:
                  type: string
                  description: Access token for secure access to envd service
                timestamp:
                  type: string
                  format: date-time
                  description: Current timestamp for time sync
                defaultUser:
                  type: string
                  description: Default user for operations
                  example: user
                defaultWorkdir:
                  type: string
                  description: Default working directory
                  example: /home/user
      responses:
        '204':
          description: Sandbox initialized successfully
  /teams:
    get:
      summary: List teams
      description: Returns all teams accessible to the authenticated user.
      operationId: listTeams
      tags:
      - Teams
      security:
      - ApiKeyAuth: []
      responses:
        '200':
          description: Successfully returned all teams
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Team'
        '401':
          $ref: '#/components/responses/401'
        '500':
          $ref: '#/components/responses/500'
  /teams/{teamID}/metrics:
    get:
      summary: Get team metrics
      description: |-
        Returns usage metrics for your team over a time range, including
        concurrent sandbox count and sandbox start rate.
      operationId: getTeamMetrics
      tags:
      - Metrics
      security:
      - ApiKeyAuth: []
      parameters:
      - $ref: '#/components/parameters/teamID'
      - in: query
        name: start
        schema:
          type: integer
          format: int64
          minimum: 0
        description: Unix timestamp for the start of the interval, in seconds, for which the metrics
      - in: query
        name: end
        schema:
          type: integer
          format: int64
          minimum: 0
          description: Unix timestamp for the end of the interval, in seconds, for which the metrics
      responses:
        '200':
          description: Team metrics
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TeamMetric'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '500':
          $ref: '#/components/responses/500'
  /teams/{teamID}/metrics/max:
    get:
      summary: Get max team metrics
      description: |-
        Returns the maximum value of a specific metric for your team
        over a time range.
      operationId: getTeamMetricsMax
      tags:
      - Metrics
      security:
      - ApiKeyAuth: []
      parameters:
      - $ref: '#/components/parameters/teamID'
      - in: query
        name: start
        schema:
          type: integer
          format: int64
          minimum: 0
        description: Unix timestamp for the start of the interval, in seconds, for which the metrics
      - in: query
        name: end
        schema:
          type: integer
          format: int64
          minimum: 0
          description: Unix timestamp for the end of the interval, in seconds, for which the metrics
      - in: query
        name: metric
        required: true
        schema:
          type: string
          enum:
          - concurrent_sandboxes
          - sandbox_start_rate
        description: Which metric to get the maximum value for
      responses:
        '200':
          description: Maximum metric value
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MaxTeamMetric'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '500':
          $ref: '#/components/responses/500'
  /sandboxes:
    get:
      summary: List running sandboxes
      description: |-
        Returns a list of all currently running sandboxes for your team.
        Use the `metadata` parameter to filter sandboxes by custom metadata.

        **Note:** This endpoint only returns running sandboxes. Paused sandboxes
        are not included. Use `GET /v2/sandboxes` with state filter for more options.
      operationId: listSandboxes
      tags:
      - Sandboxes
      security:
      - ApiKeyAuth: []
      parameters:
      - name: metadata
        in: query
        description: |-
          Filter sandboxes by metadata. Format: key=value&key2=value2
          Each key and value must be URL encoded.
        required: false
        schema:
          type: string
        example: user=user-123&project=demo
      responses:
        '200':
          description: List of running sandboxes
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ListedSandbox'
              example:
              - sandboxID: sandbox-abc123xyz
                templateID: base
                alias: my-python-env
                clientID: sandbox-abc123xyz
                startedAt: '2024-01-15T10:30:00Z'
                endAt: '2024-01-15T10:45:00Z'
                cpuCount: 2
                memoryMB: 512
                metadata:
                  user: user-123
                  project: demo
        '401':
          $ref: '#/components/responses/401'
        '400':
          $ref: '#/components/responses/400'
        '500':
          $ref: '#/components/responses/500'
    post:
      summary: Create a sandbox
      description: |-
        Creates a new sandbox from the specified template. The sandbox starts
        immediately and is ready to use within a few seconds.

        **Returns:**
        - `sandboxID`: Use this to identify the sandbox in subsequent API calls
        - `envdAccessToken`: Use this as `X-Access-Token` for Data Plane API calls
      operationId: createSandbox
      tags:
      - Sandboxes
      security:
      - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewSandbox'
            example:
              templateID: base
              timeout: 300
              metadata:
                user: user-123
                project: code-review
      responses:
        '201':
          description: Sandbox created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Sandbox'
              example:
                sandboxID: sandbox-abc123xyz
                templateID: base
                clientID: sandbox-abc123xyz
                envdAccessToken: eyJhbGciOiJIUzI1NiIs...
                envdVersion: 0.1.0
        '401':
          $ref: '#/components/responses/401'
        '400':
          $ref: '#/components/responses/400'
        '500':
          $ref: '#/components/responses/500'
  /v2/sandboxes:
    get:
      summary: List all sandboxes (v2)
      description: |-
        Returns all sandboxes, including paused ones. Supports filtering by
        state and metadata, and pagination.
      operationId: listSandboxesV2
      tags:
      - Sandboxes
      security:
      - ApiKeyAuth: []
      parameters:
      - name: metadata
        in: query
        description: Metadata query used to filter the sandboxes (e.g. "user=abc&app=prod"). Each key and values must be URL encoded.
        required: false
        schema:
          type: string
      - name: state
        in: query
        description: Filter sandboxes by one or more states
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - running
            - paused
        style: form
        explode: false
      - $ref: '#/components/parameters/paginationNextToken'
      - $ref: '#/components/parameters/paginationLimit'
      responses:
        '200':
          description: List of sandboxes
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ListedSandbox'
        '401':
          $ref: '#/components/responses/401'
        '400':
          $ref: '#/components/responses/400'
        '500':
          $ref: '#/components/responses/500'
  /sandboxes/metrics:
    get:
      summary: Get metrics for multiple sandboxes
      description: |-
        Returns the latest metrics for a batch of sandboxes. Useful for
        monitoring dashboards.
      operationId: getSandboxesMetrics
      tags:
      - Metrics
      security:
      - ApiKeyAuth: []
      parameters:
      - name: sandbox_ids
        in: query
        required: true
        description: Comma-separated list of sandbox IDs (max 100)
        explode: false
        schema:
          type: array
          items:
            type: string
          maxItems: 100
          uniqueItems: true
      responses:
        '200':
          description: Metrics per sandbox
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SandboxesWithMetrics'
        '401':
          $ref: '#/components/responses/401'
        '400':
          $ref: '#/components/responses/400'
        '500':
          $ref: '#/components/responses/500'
  /sandboxes/{sandboxID}/logs:
    get:
      summary: Get sandbox logs (legacy)
      description: |-
        Returns system logs from the sandbox.

        **Deprecated:** Use `GET /v2/sandboxes/{sandboxID}/logs` instead.
      operationId: getSandboxLogs
      deprecated: true
      tags:
      - Sandboxes
      security:
      - ApiKeyAuth: []
      parameters:
      - $ref: '#/components/parameters/sandboxID'
      - in: query
        name: start
        schema:
          type: integer
          format: int64
          minimum: 0
        description: Start timestamp in milliseconds (Unix epoch)
      - in: query
        name: limit
        schema:
          default: 1000
          format: int32
          minimum: 0
          type: integer
        description: Maximum number of log entries to return
      responses:
        '200':
          description: Sandbox logs
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SandboxLogs'
        '404':
          $ref: '#/components/responses/404'
        '401':
          $ref: '#/components/responses/401'
        '500':
          $ref: '#/components/responses/500'
  /v2/sandboxes/{sandboxID}/logs:
    get:
      summary: Get sandbox logs
      description: |-
        Returns system logs from the sandbox. These include sandbox startup logs
        and system-level events. Supports pagination and filtering.
      operationId: getSandboxLogsV2
      tags:
      - Sandboxes
      security:
      - ApiKeyAuth: []
      parameters:
      - $ref: '#/components/parameters/sandboxID'
      - in: query
        name: cursor
        schema:
          type: integer
          format: int64
          minimum: 0
        description: Starting timestamp in milliseconds (Unix epoch)
      - in: query
        name: limit
        schema:
          default: 1000
          type: integer
          format: int32
          minimum: 0
          maximum: 1000
        description: Maximum number of log entries to return
      - in: query
        name: direction
        schema:
          $ref: '#/components/schemas/LogsDirection'
        description: Direction of the logs that should be returned
      responses:
        '200':
          description: Sandbox logs
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SandboxLogsV2Response'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
  /sandboxes/{sandboxID}:
    get:
      summary: Get sandbox details
      description: |-
        Returns detailed information about a specific sandbox, including its
        current state, resource allocation, and metadata.
      operationId: getSandbox
      tags:
      - Sandboxes
      security:
      - ApiKeyAuth: []
      parameters:
      - $ref: '#/components/parameters/sandboxID'
      responses:
        '200':
          description: Successfully returned the sandbox
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SandboxDetail'
        '404':
          $ref: '#/components/responses/404'
        '401':
          $ref: '#/components/responses/401'
        '500':
          $ref: '#/components/responses/500'
    delete:
      summary: Terminate a sandbox
      description: |-
        Immediately terminates and deletes a sandbox. All data in the sandbox
        is permanently lost.

        **Warning:** This action cannot be undone. If you want to preserve the
        sandbox state for later, use `POST /sandboxes/{sandboxID}/pause` instead.
      operationId: deleteSandbox
      tags:
      - Sandboxes
      security:
      - ApiKeyAuth: []
      parameters:
      - $ref: '#/components/parameters/sandboxID'
      responses:
        '204':
          description: Sandbox terminated successfully
        '404':
          $ref: '#/components/responses/404'
        '401':
          $ref: '#/components/responses/401'
        '500':
          $ref: '#/components/responses/500'
  /sandboxes/{sandboxID}/metrics:
    get:
      summary: Get sandbox metrics
      description: |-
        Returns resource usage metrics (CPU, memory, disk) for a specific sandbox
        over a time range.
      operationId: getSandboxMetrics
      tags:
      - Metrics
      security:
      - ApiKeyAuth: []
      parameters:
      - $ref: '#/components/parameters/sandboxID'
      - in: query
        name: start
        schema:
          type: integer
          format: int64
          minimum: 0
        description: Start timestamp in seconds (Unix epoch)
      - in: query
        name: end
        schema:
          type: integer
          format: int64
          minimum: 0
          description: Unix timestamp for the end of the interval, in seconds, for which the metrics
        description: End timestamp in seconds (Unix epoch)
      responses:
        '200':
          description: Sandbox metrics
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SandboxMetric'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
  /sandboxes/{sandboxID}/pause:
    post:
      summary: Pause a sandbox
      description: |-
        Pauses a running sandbox. The sandbox state is preserved and can be
        resumed later with `POST /sandboxes/{sandboxID}/connect`.

        **Benefits of pausing:**
        - No compute charges while paused
        - State is preserved (files, installed packages, etc.)
        - Resume in seconds instead of creating a new sandbox

        **Limitations:**
        - Running processes are stopped
        - Network connections are closed
        - Paused sandboxes have a maximum retention period
      operationId: pauseSandbox
      tags:
      - Sandboxes
      security:
      - ApiKeyAuth: []
      parameters:
      - $ref: '#/components/parameters/sandboxID'
      responses:
        '204':
          description: Sandbox paused successfully
        '409':
          $ref: '#/components/responses/409'
        '404':
          $ref: '#/components/responses/404'
        '401':
          $ref: '#/components/responses/401'
        '500':
          $ref: '#/components/responses/500'
  /sandboxes/{sandboxID}/resume:
    post:
      summary: Resume a paused sandbox
      description: |-
        Resumes a previously paused sandbox.

        **Deprecated:** Use `POST /sandboxes/{sandboxID}/connect` instead,
        which handles both running and paused sandboxes.
      operationId: resumeSandbox
      deprecated: true
      tags:
      - Sandboxes
      security:
      - ApiKeyAuth: []
      parameters:
      - $ref: '#/components/parameters/sandboxID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResumedSandbox'
      responses:
        '201':
          description: The sandbox was resumed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Sandbox'
        '409':
          $ref: '#/components/responses/409'
        '404':
          $ref: '#/components/responses/404'
        '401':
          $ref: '#/components/responses/401'
        '500':
          $ref: '#/components/responses/500'
  /sandboxes/{sandboxID}/connect:
    post:
      summary: Connect to or resume a sandbox
      description: |-
        Returns sandbox connection details. If the sandbox is paused, it will
        be automatically resumed.

        Use this endpoint to:
        - Resume a paused sandbox
        - Get connection details for a running sandbox
        - Extend the sandbox timeout

        **Note:** The timeout is extended from the current time, not added to
        the existing timeout.
      operationId: connectSandbox
      tags:
      - Sandboxes
      security:
      - ApiKeyAuth: []
      parameters:
      - $ref: '#/components/parameters/sandboxID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConnectSandbox'
      responses:
        '200':
          description: The sandbox was already running
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Sandbox'
        '201':
          description: The sandbox was resumed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Sandbox'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
  /sandboxes/{sandboxID}/timeout:
    post:
      summary: Set sandbox timeout
      description: |-
        Sets a new timeout for the sandbox. The sandbox will automatically
        terminate after the specified number of seconds from now.

        **Note:** This replaces any existing timeout. Each call resets the
        countdown from the current time.
      operationId: setSandboxTimeout
      tags:
      - Sandboxes
      security:
      - ApiKeyAuth: []
      parameters:
      - $ref: '#/components/parameters/sandboxID'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - timeout
              properties:
                timeout:
                  description: Timeout in seconds from the current time after which the sandbox should expire
                  type: integer
                  format: int32
                  minimum: 0
      responses:
        '204':
          description: Timeout updated successfully
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
  /sandboxes/{sandboxID}/refreshes:
    post:
      summary: Extend sandbox lifetime
      description: |-
        Extends the sandbox lifetime by the specified duration. Unlike
        `/timeout`, this adds time to the existing expiration.
      operationId: refreshSandbox
      tags:
      - Sandboxes
      security:
      - ApiKeyAuth: []
      parameters:
      - $ref: '#/components/parameters/sandboxID'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                duration:
                  description: Duration for which the sandbox should be kept alive in seconds
                  type: integer
                  maximum: 3600
                  minimum: 0
      responses:
        '204':
          description: Sandbox lifetime extended
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
  /v3/templates:
    post:
      summary: Create a new template
      description: |-
        Creates a new template and initiates a build. Returns the template ID
        and build ID to track the build progress.
      operationId: createTemplateV3
      tags:
      - Templates
      security:
      - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TemplateBuildRequestV3'
      responses:
        '202':
          description: Build started
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateRequestResponseV3'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '500':
          $ref: '#/components/responses/500'
  /v2/templates:
    post:
      summary: Create a new template (v2)
      description: |-
        Creates a new template.

        **Deprecated:** Use `POST /v3/templates` instead.
      operationId: createTemplateV2
      deprecated: true
      tags:
      - Templates
      security:
      - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TemplateBuildRequestV2'
      responses:
        '202':
          description: Build started
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateLegacy'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '500':
          $ref: '#/components/responses/500'
  /templates/{templateID}/files/{hash}:
    get:
      summary: Get build file upload link
      description: |-
        Returns a pre-signed upload URL for uploading build layer files
        as a tar archive.
      operationId: getTemplateFileUploadLink
      tags:
      - Templates
      security:
      - ApiKeyAuth: []
      parameters:
      - $ref: '#/components/parameters/templateID'
      - in: path
        name: hash
        required: true
        schema:
          type: string
          description: Hash of the files
        description: SHA256 hash of the tar file
      responses:
        '201':
          description: Upload link
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateBuildFileUpload'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
  /templates:
    get:
      summary: List templates
      description: |-
        Returns all templates accessible to your team, including both custom
        templates you've created and public templates.
      operationId: listTemplates
      tags:
      - Templates
      security:
      - ApiKeyAuth: []
      parameters:
      - in: query
        required: false
        name: teamID
        schema:
          type: string
          description: Identifier of the team
      responses:
        '200':
          description: Successfully returned all templates
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Template'
        '401':
          $ref: '#/components/responses/401'
        '500':
          $ref: '#/components/responses/500'
    post:
      summary: Create a new template (legacy)
      description: |-
        Creates a new template from a Dockerfile.

        **Deprecated:** Use `POST /v3/templates` instead.
      operationId: createTemplateLegacy
      deprecated: true
      tags:
      - Templates
      security:
      - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TemplateBuildRequest'
      responses:
        '202':
          description: The build was accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateLegacy'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '500':
          $ref: '#/components/responses/500'
  /templates/{templateID}:
    get:
      summary: Get template details
      description: Returns detailed information about a template, including all its builds.
      operationId: getTemplate
      tags:
      - Templates
      security:
      - ApiKeyAuth: []
      parameters:
      - $ref: '#/components/parameters/templateID'
      - $ref: '#/components/parameters/paginationNextToken'
      - $ref: '#/components/parameters/paginationLimit'
      responses:
        '200':
          description: Template details with builds
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateWithBuilds'
        '401':
          $ref: '#/components/responses/401'
        '500':
          $ref: '#/components/responses/500'
    post:
      summary: Rebuild a template (legacy)
      description: |-
        Triggers a rebuild of an existing template from a Dockerfile.

        **Deprecated:** Use `POST /v3/templates` instead.
      operationId: rebuildTemplateLegacy
      deprecated: true
      tags:
      - Templates
      security:
      - ApiKeyAuth: []
      parameters:
      - $ref: '#/components/parameters/templateID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TemplateBuildRequest'
      responses:
        '202':
          description: The build was accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateLegacy'
        '401':
          $ref: '#/components/responses/401'
        '500':
          $ref: '#/components/responses/500'
    delete:
      summary: Delete a template
      description: |-
        Permanently deletes a template and all its builds.

        **Warning:** This action cannot be undone. Existing sandboxes created
        from this template will continue to work, but no new sandboxes can be
        created from it.
      operationId: deleteTemplate
      tags:
      - Templates
      security:
      - ApiKeyAuth: []
      parameters:
      - $ref: '#/components/parameters/templateID'
      responses:
        '204':
          description: The template was deleted successfully
        '401':
          $ref: '#/components/responses/401'
        '500':
          $ref: '#/components/responses/500'
    patch:
      summary: Update template
      description: |-
        Updates template properties (e.g., public/private visibility).

        **Deprecated:** Use `PATCH /v2/templates/{templateID}` instead.
      operationId: updateTemplate
      deprecated: true
      tags:
      - Templates
      security:
      - ApiKeyAuth: []
      parameters:
      - $ref: '#/components/parameters/templateID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TemplateUpdateRequest'
      responses:
        '200':
          description: Template updated
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '500':
          $ref: '#/components/responses/500'
  /templates/{templateID}/builds/{buildID}:
    post:
      summary: Start a template build (legacy)
      description: |-
        Starts a previously created template build.

        **Deprecated:** Use `POST /v2/templates/{templateID}/builds/{buildID}` instead.
      operationId: startTemplateBuildLegacy
      deprecated: true
      tags:
      - Templates
      security:
      - ApiKeyAuth: []
      parameters:
      - $ref: '#/components/parameters/templateID'
      - $ref: '#/components/parameters/buildID'
      responses:
        '202':
          description: The build has started
        '401':
          $ref: '#/components/responses/401'
        '500':
          $ref: '#/components/responses/500'
  /v2/templates/{templateID}/builds/{buildID}:
    post:
      summary: Start a template build
      description: |-
        Triggers the build process for a template. The build must have been
        previously created and files uploaded.
      operationId: startTemplateBuild
      tags:
      - Templates
      security:
      - ApiKeyAuth: []
      parameters:
      - $ref: '#/components/parameters/templateID'
      - $ref: '#/components/parameters/buildID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TemplateBuildStartV2'
      responses:
        '202':
          description: Build started
        '401':
          $ref: '#/components/responses/401'
        '500':
          $ref: '#/components/responses/500'
  /v2/templates/{templateID}:
    patch:
      summary: Update template (v2)
      description: Updates template properties such as visibility (public/private).
      operationId: updateTemplateV2
      tags:
      - Templates
      security:
      - ApiKeyAuth: []
      parameters:
      - $ref: '#/components/parameters/templateID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TemplateUpdateRequest'
      responses:
        '200':
          description: Template updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateUpdateResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '500':
          $ref: '#/components/responses/500'
  /templates/{templateID}/builds/{buildID}/status:
    get:
      summary: Get build status
      description: Returns the current status and logs for a template build.
      operationId: getTemplateBuildStatus
      tags:
      - Templates
      security:
      - ApiKeyAuth: []
      parameters:
      - $ref: '#/components/parameters/templateID'
      - $ref: '#/components/parameters/buildID'
      - in: query
        name: logsOffset
        schema:
          default: 0
          type: integer
          format: int32
          minimum: 0
        description: Index of the starting build log that should be returned with the template
      - in: query
        name: limit
        schema:
          default: 100
          type: integer
          format: int32
          minimum: 0
          maximum: 100
        description: Maximum number of logs that should be returned
      - in: query
        name: level
        schema:
          $ref: '#/components/schemas/LogLevel'
      responses:
        '200':
          description: Build status and logs
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateBuildInfo'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
  /templates/{templateID}/builds/{buildID}/logs:
    get:
      summary: Get build logs
      description: Returns logs from a template build with pagination and filtering options.
      operationId: getTemplateBuildLogs
      tags:
      - Templates
      security:
      - ApiKeyAuth: []
      parameters:
      - $ref: '#/components/parameters/templateID'
      - $ref: '#/components/parameters/buildID'
      - in: query
        name: cursor
        schema:
          type: integer
          format: int64
          minimum: 0
        description: Starting timestamp of the logs that should be returned in milliseconds
      - in: query
        name: limit
        schema:
          default: 100
          type: integer
          format: int32
          minimum: 0
          maximum: 100
        description: Maximum number of logs that should be returned
      - in: query
        name: direction
        schema:
          $ref: '#/components/schemas/LogsDirection'
      - in: query
        name: level
        schema:
          $ref: '#/components/schemas/LogLevel'
      - in: query
        name: source
        schema:
          $ref: '#/components/schemas/LogsSource'
        description: Source of the logs that should be returned from
      responses:
        '200':
          description: Successfully returned the template build logs
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateBuildLogsResponse'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
  /templates/tags:
    post:
      summary: Assign tags to a template build
      description: |-
        Assigns one or more tags to a specific template build. Tags can be used
        to version and identify specific builds (e.g., "latest", "v1.0").
      operationId: assignTemplateTags
      tags:
      - Templates
      security:
      - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssignTemplateTagsRequest'
      responses:
        '201':
          description: Tags assigned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssignedTemplateTags'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
    delete:
      summary: Delete tags from templates
      description: Removes tags from template builds.
      operationId: deleteTemplateTags
      tags:
      - Templates
      security:
      - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteTemplateTagsRequest'
      responses:
        '204':
          description: Tags deleted
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
  /templates/aliases/{alias}:
    get:
      summary: Check template by alias
      description: Checks if a template with the given alias exists and returns its ID.
      operationId: getTemplateByAlias
      tags:
      - Templates
      security:
      - ApiKeyAuth: []
      parameters:
      - name: alias
        in: path
        required: true
        schema:
          type: string
          description: Template alias
        description: Template alias to look up
      responses:
        '200':
          description: Template found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateAliasResponse'
        '400':
          $ref: '#/components/responses/400'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
  /files:
    servers:
    - url: https://{port}-{sandboxId}.e2b.app
      description: Sandbox Data Plane API
      variables:
        port:
          default: '49982'
          description: API port (always 49982)
        sandboxId:
          default: your-sandbox-id
          description: Your sandbox ID from the create response
    get:
      summary: Download a file
      description: Downloads a file from the sandbox. The file is returned as binary data.
      operationId: downloadFile
      tags:
      - Sandbox Filesystem
      security:
      - AccessTokenAuth: []
      parameters:
      - $ref: '#/components/parameters/SandboxFilePath'
      - $ref: '#/components/parameters/SandboxUser'
      - $ref: '#/components/parameters/SandboxSignature'
      - $ref: '#/components/parameters/SandboxSignatureExpiration'
      responses:
        '200':
          description: File contents
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        '400':
          description: Invalid path
        '401':
          description: Invalid user
        '404':
          description: File not found
        '500':
          description: Server error
    post:
      summary: Upload a file
      description: |
        Uploads a file to the sandbox. Parent directories are created automatically
        if they don't exist. If the file already exists, it will be overwritten.
      operationId: uploadFile
      tags:
      - Sandbox Filesystem
      security:
      - AccessTokenAuth: []
      parameters:
      - $ref: '#/components/parameters/SandboxFilePath'
      - $ref: '#/components/parameters/SandboxUser'
      - $ref: '#/components/parameters/SandboxSignature'
      - $ref: '#/components/parameters/SandboxSignatureExpiration'
      requestBody:
        required: true
        content:
          application/octet-stream:
            schema:
              type: string
              format: binary
      responses:
        '200':
          description: File uploaded successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    name:
                      type: string
                      description: File name
                    type:
                      type: string
                      enum:
                      - file
                      - dir
                    path:
                      type: string
                      description: Full path to the file
        '400':
          description: Invalid path
        '401':
          description: Invalid user
        '500':
          description: Server error
        '507':
          description: Not enough disk space
  /filesystem.Filesystem/ListDir:
    servers:
    - url: https://{port}-{sandboxId}.e2b.app
      description: Sandbox Data Plane API
      variables:
        port:
          default: '49982'
          description: API port (always 49982)
        sandboxId:
          default: your-sandbox-id
          description: Your sandbox ID from the create response
    post:
      summary: List directory contents
      description: |
        Lists files and subdirectories in the specified directory.

        **Request body:**
        ```json
        {
          "path": "/home/user",
          "depth": 1
        }
        ```
      operationId: listDirectory
      tags:
      - Sandbox Filesystem
      security:
      - AccessTokenAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - path
              properties:
                path:
                  type: string
                  description: Directory path to list
                  example: /home/user
                depth:
                  type: integer
                  description: How many levels deep to list (1 = immediate children only)
                  default: 1
                  example: 1
      responses:
        '200':
          description: Directory listing
          content:
            application/json:
              schema:
                type: object
                properties:
                  entries:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                        type:
                          type: string
                          enum:
                          - file
                          - dir
                        path:
                          type: string
                        size:
                          type: integer
                          format: int64
  /filesystem.Filesystem/MakeDir:
    servers:
    - url: https://{port}-{sandboxId}.e2b.app
      description: Sandbox Data Plane API
      variables:
        port:
          default: '49982'
          description: API port (always 49982)
        sandboxId:
          default: your-sandbox-id
          description: Your sandbox ID from the create response
    post:
      summary: Create a directory
      description: |
        Creates a directory at the specified path. Parent directories are
        created automatically if they don't exist (like `mkdir -p`).
      operationId: makeDirectory
      tags:
      - Sandbox Filesystem
      security:
      - AccessTokenAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - path
              properties:
                path:
                  type: string
                  description: Path for the new directory
                  example: /home/user/projects/new-project
      responses:
        '200':
          description: Directory created
  /filesystem.Filesystem/Remove:
    servers:
    - url: https://{port}-{sandboxId}.e2b.app
      description: Sandbox Data Plane API
      variables:
        port:
          default: '49982'
          description: API port (always 49982)
        sandboxId:
          default: your-sandbox-id
          description: Your sandbox ID from the create response
    post:
      summary: Delete a file or directory
      description: |
        Deletes a file or directory. For directories, all contents are
        deleted recursively (like `rm -rf`).

        **Warning:** This action cannot be undone.
      operationId: removeFile
      tags:
      - Sandbox Filesystem
      security:
      - AccessTokenAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - path
              properties:
                path:
                  type: string
                  description: Path to delete
                  example: /home/user/temp-file.txt
      responses:
        '200':
          description: File or directory deleted
  /filesystem.Filesystem/Move:
    servers:
    - url: https://{port}-{sandboxId}.e2b.app
      description: Sandbox Data Plane API
      variables:
        port:
          default: '49982'
          description: API port (always 49982)
        sandboxId:
          default: your-sandbox-id
          description: Your sandbox ID from the create response
    post:
      summary: Move or rename a file
      description: Moves a file or directory to a new location. Can also be used to rename.
      operationId: moveFile
      tags:
      - Sandbox Filesystem
      security:
      - AccessTokenAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - source
              - destination
              properties:
                source:
                  type: string
                  description: Current path
                  example: /home/user/old-name.txt
                destination:
                  type: string
                  description: New path
                  example: /home/user/new-name.txt
      responses:
        '200':
          description: File moved
  /filesystem.Filesystem/Stat:
    servers:
    - url: https://{port}-{sandboxId}.e2b.app
      description: Sandbox Data Plane API
      variables:
        port:
          default: '49982'
          description: API port (always 49982)
        sandboxId:
          default: your-sandbox-id
          description: Your sandbox ID from the create response
    post:
      summary: Get file information
      description: Returns metadata about a file or directory (size, type, permissions, etc.).
      operationId: statFile
      tags:
      - Sandbox Filesystem
      security:
      - AccessTokenAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - path
              properties:
                path:
                  type: string
                  description: Path to inspect
                  example: /home/user/file.txt
      responses:
        '200':
          description: File information
          content:
            application/json:
              schema:
                type: object
                properties:
                  name:
                    type: string
                  type:
                    type: string
                    enum:
                    - file
                    - dir
                  size:
                    type: integer
                    format: int64
                  permissions:
                    type: string
  /filesystem.Filesystem/CreateWatcher:
    servers:
    - url: https://{port}-{sandboxId}.e2b.app
      description: Sandbox Data Plane API
      variables:
        port:
          default: '49982'
          description: API port (always 49982)
        sandboxId:
          default: your-sandbox-id
          description: Your sandbox ID from the create response
    post:
      summary: Create a filesystem watcher
      description: |
        Creates a watcher that monitors a directory for changes. Use
        `GetWatcherEvents` to poll for events. This is the non-streaming
        alternative to `WatchDir`.
      operationId: createWatcher
      tags:
      - Sandbox Filesystem
      security:
      - AccessTokenAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - path
              properties:
                path:
                  type: string
                  description: Directory path to watch
                  example: /home/user/project
      responses:
        '200':
          description: Watcher created
          content:
            application/json:
              schema:
                type: object
                properties:
                  watcherID:
                    type: string
                    description: ID to use with GetWatcherEvents and RemoveWatcher
  /filesystem.Filesystem/GetWatcherEvents:
    servers:
    - url: https://{port}-{sandboxId}.e2b.app
      description: Sandbox Data Plane API
      variables:
        port:
          default: '49982'
          description: API port (always 49982)
        sandboxId:
          default: your-sandbox-id
          description: Your sandbox ID from the create response
    post:
      summary: Get filesystem watcher events
      description: |
        Retrieves pending filesystem change events from a watcher created
        with `CreateWatcher`. Returns events since the last poll.
      operationId: getWatcherEvents
      tags:
      - Sandbox Filesystem
      security:
      - AccessTokenAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - watcherID
              properties:
                watcherID:
                  type: string
                  description: Watcher ID from CreateWatcher
      responses:
        '200':
          description: Watcher events
          content:
            application/json:
              schema:
                type: object
                properties:
                  events:
                    type: array
                    items:
                      type: object
                      properties:
                        type:
                          type: string
                          enum:
                          - create
                          - write
                          - remove
                          - rename
                        path:
                          type: string
  /filesystem.Filesystem/RemoveWatcher:
    servers:
    - url: https://{port}-{sandboxId}.e2b.app
      description: Sandbox Data Plane API
      variables:
        port:
          default: '49982'
          description: API port (always 49982)
        sandboxId:
          default: your-sandbox-id
          description: Your sandbox ID from the create response
    post:
      summary: Remove a filesystem watcher
      description: |
        Stops and removes a filesystem watcher. No more events will be
        generated after this call.
      operationId: removeWatcher
      tags:
      - Sandbox Filesystem
      security:
      - AccessTokenAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - watcherID
              properties:
                watcherID:
                  type: string
                  description: Watcher ID to remove
      responses:
        '200':
          description: Watcher removed
  /filesystem.Filesystem/WatchDir:
    servers:
    - url: https://{port}-{sandboxId}.e2b.app
      description: Sandbox Data Plane API
      variables:
        port:
          default: '49982'
          description: API port (always 49982)
        sandboxId:
          default: your-sandbox-id
          description: Your sandbox ID from the create response
    post:
      summary: Watch directory (streaming)
      description: |
        Streams filesystem change events for a directory in real-time.
        This is the streaming alternative to CreateWatcher + GetWatcherEvents.

        Uses server-sent events (SSE) to push changes as they happen.
      operationId: watchDir
      tags:
      - Sandbox Filesystem
      security:
      - AccessTokenAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - path
              properties:
                path:
                  type: string
                  description: Directory path to watch
                  example: /home/user/project
      responses:
        '200':
          description: Stream of filesystem events
  /process.Process/Start:
    servers:
    - url: https://{port}-{sandboxId}.e2b.app
      description: Sandbox Data Plane API
      variables:
        port:
          default: '49982'
          description: API port (always 49982)
        sandboxId:
          default: your-sandbox-id
          description: Your sandbox ID from the create response
    post:
      summary: Start a process
      description: |
        Starts a new process in the sandbox. Returns a process ID that can be
        used to monitor, send input to, or terminate the process.

        **Example - Run a Python script:**
        ```json
        {
          "cmd": "python",
          "args": ["script.py"],
          "cwd": "/home/user",
          "envVars": {
            "PYTHONPATH": "/home/user/lib"
          }
        }
        ```

        **Example - Run a shell command:**
        ```json
        {
          "cmd": "/bin/bash",
          "args": ["-c", "echo 'Hello World' && sleep 5"]
        }
        ```
      operationId: startProcess
      tags:
      - Sandbox Process
      security:
      - AccessTokenAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - cmd
              properties:
                cmd:
                  type: string
                  description: Command to execute
                  example: python
                args:
                  type: array
                  items:
                    type: string
                  description: Command arguments
                  example:
                  - script.py
                  - --verbose
                cwd:
                  type: string
                  description: Working directory
                  example: /home/user
                envVars:
                  type: object
                  additionalProperties:
                    type: string
                  description: Environment variables
                  example:
                    NODE_ENV: production
      responses:
        '200':
          description: Process started
          content:
            application/json:
              schema:
                type: object
                properties:
                  pid:
                    type: string
                    description: Process ID for subsequent operations
  /process.Process/List:
    servers:
    - url: https://{port}-{sandboxId}.e2b.app
      description: Sandbox Data Plane API
      variables:
        port:
          default: '49982'
          description: API port (always 49982)
        sandboxId:
          default: your-sandbox-id
          description: Your sandbox ID from the create response
    post:
      summary: List running processes
      description: Returns a list of all processes currently running in the sandbox.
      operationId: listProcesses
      tags:
      - Sandbox Process
      security:
      - AccessTokenAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: List of processes
          content:
            application/json:
              schema:
                type: object
                properties:
                  processes:
                    type: array
                    items:
                      type: object
                      properties:
                        pid:
                          type: string
                        cmd:
                          type: string
  /process.Process/SendSignal:
    servers:
    - url: https://{port}-{sandboxId}.e2b.app
      description: Sandbox Data Plane API
      variables:
        port:
          default: '49982'
          description: API port (always 49982)
        sandboxId:
          default: your-sandbox-id
          description: Your sandbox ID from the create response
    post:
      summary: Send a signal to a process
      description: |
        Sends a Unix signal to a process. Common signals:
        - `SIGTERM` (15): Request graceful termination
        - `SIGKILL` (9): Force immediate termination
        - `SIGINT` (2): Interrupt (like Ctrl+C)
      operationId: sendSignal
      tags:
      - Sandbox Process
      security:
      - AccessTokenAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - pid
              - signal
              properties:
                pid:
                  type: string
                  description: Process ID
                signal:
                  type: integer
                  description: Signal number (e.g., 9 for SIGKILL, 15 for SIGTERM)
                  example: 15
      responses:
        '200':
          description: Signal sent
  /process.Process/SendInput:
    servers:
    - url: https://{port}-{sandboxId}.e2b.app
      description: Sandbox Data Plane API
      variables:
        port:
          default: '49982'
          description: API port (always 49982)
        sandboxId:
          default: your-sandbox-id
          description: Your sandbox ID from the create response
    post:
      summary: Send input to a process
      description: |
        Sends input to the stdin of a running process. Useful for interactive
        programs that expect user input.
      operationId: sendInput
      tags:
      - Sandbox Process
      security:
      - AccessTokenAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - pid
              - input
              properties:
[...]
